<div class="carousel-container">
  <div class="show-prev arrow">


      <picture>
        <source media="(min-width: 700px)" srcset="/images/icons/arrow-left2.png">
              <img id="arrow-left" src="/images/icons/arrow-left.png" class="left">
      </picture>
      <div class="arrow-background">
      </div>


  </div>

  <div class="show-next arrow">

    <!--
    https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
    need to change images based on device size
    -->


    <picture>
      <source media="(min-width: 700px)" srcset="/images/icons/arrow-right2.png">
            <img id="arrow-right" src="/images/icons/arrow-right.png" class="right">
    </picture>

    <div class="arrow-background-right">

    </div>
  </div>
  <div class="menu-btn-container">
    <div class="menu-btn shadow">

      VIEW FULL MENU

    </div>

  </div>
  <div class="carousel-circle-btn-container">
    <div class="carousel-circle-btns">
      <div id="status-00" class="status-bars">
        <div id="bar-0" class="bar">

        </div>

      </div>
      <div id="status-01" class="status-bars">
        <div id="bar-1" class="bar">

        </div>
      </div>
      <div id="status-02" class="status-bars">
        <div id="bar-2" class="bar">

        </div>
      </div>
      <div id="status-03" class="status-bars">
        <div id="bar-3" class="bar">

        </div>
      </div>
    </div>
  </div>

    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/4desk.jpg">
          <img id="c0" class="carousel-img active" src="/images/home/4mobile.jpg" alt="">
    </picture>

    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/3desk.jpg">
          <img id="c1" class="carousel-img" src="/images/home/3mobile.jpg" alt="">
    </picture>
    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/5desk.jpg">
          <img id="c2" class="carousel-img" src="/images/home/5mobile.jpg" alt="">
    </picture>
    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/6desk.jpg">
          <img id="c3" class="carousel-img" src="/images/home/6mobile.jpg" alt="">
    </picture>


</div>
