<div class="carousel-container">
  <div class="show-prev arrow">
      <picture>
        <source media="(min-width: 700px)" srcset="/images/icons/arrow-left.png">
              <img id="arrow-left" src="/images/icons/arrow-left.png" class="left">
      </picture>
      <div class="arrow-background">
      </div>
  </div>

  <div class="show-next arrow">
    <picture>
      <source media="(min-width: 700px)" srcset="/images/icons/arrow-right.png">
            <img id="arrow-right" src="/images/icons/arrow-right.png" class="right">
    </picture>

    <div class="arrow-background-right">

    </div>
  </div>
  <div class="menu-btn-container">
    <div class="menu-btn shadow">

      VIEW FULL MENU

    </div>

  </div>
  <div class="carousel-circle-btn-container">
    <div class="carousel-circle-btns">
      <div id="status-00" class="status-bars">
        <div id="bar-0" class="bar shadow">

        </div>

      </div>
      <div id="status-01" class="status-bars">
        <div id="bar-1" class="bar shadow">

        </div>
      </div>
      <div id="status-02" class="status-bars">
        <div id="bar-2" class="bar shadow">

        </div>
      </div>
      <div id="status-03" class="status-bars">
        <div id="bar-3" class="bar shadow">

        </div>
      </div>
    </div>
  </div>
    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/4desk.jpeg">
          <img id="c4" class="home-caro-image-5 carousel-img" src="/images/home/4mobile.jpg" alt="">
      </picture>

    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/5desk.jpg">
          <img id="c3" class="home-caro-image-4 carousel-img " src="/images/home/5mobile.jpg" alt="">
    </picture>

    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/3desk.jpg">
          <img id="c2" class="home-caro-image-3 carousel-img" src="/images/home/3mobile.jpg" alt="">
    </picture>
    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/6desk.jpg">
          <img id="c1" class="home-caro-image-2 carousel-img" src="/images/home/6mobile.jpg" alt="">
    </picture>
    <picture>
      <source media="(min-width: 700px)" srcset="/images/home/4desk.jpeg">
          <img id="c0" class="home-caro-image-1 carousel-img" src="/images/home/4mobile.jpg" alt="">
    </picture>


</div>
