<div class="carousel-container-about">
  <div class="show-prev-about arrow-about">
    <img id="arrow-left-about" src="/images/icons/arrow-left.png" alt="">
  </div>

  <div class="show-next-about arrow-about">


    <img id="arrow-right-about" src="/images/icons/arrow-right.png" alt="">
  </div>
  <div class="carousel-circle-btn-container-about">
    <div class="carousel-circle-btns-about">
      <div id="status-00-about" class="status-bars">
        <div id="bar-0-about" class="bar">

        </div>

      </div>
      <div id="status-01-about" class="status-bars">
        <div id="bar-1-about" class="bar">

        </div>
      </div>
      <div id="status-02-about" class="status-bars">
        <div id="bar-2-about" class="bar">

        </div>
      </div>
      <div id="status-03-about" class="status-bars">
        <div id="bar-3-about" class="bar">

        </div>
      </div>
    </div>
  </div>
  <img id="c0-about" class="carousel-about-img active" src="/images/a1.jpeg" alt="">
  <img id="c1-about" class="carousel-about-img" src="/images/a2.jpeg" alt="">
  <img id="c2-about" class="carousel-about-img" src="/images/a3.jpeg" alt="">
  <img id="c3-about" class="carousel-about-img" src="/images/a4.jpeg" alt="">
</div>
