<div class="carousel-container">
  <div class="show-prev arrow">
    <img id="arrow-left" src="/images/icons/arrow-left.svg" alt="">
  </div>

  <div class="show-next arrow">

    <!--
    https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
    need to change images based on device size
    -->

    <img id="arrow-right" src="/images/icons/arrow-right.svg" alt="">
  </div>
  <div class="menu-btn-container">
    <div class="menu-btn">
      MENU
    </div>

  </div>
  <div class="carousel-circle-btn-container">
    <div class="carousel-circle-btns">
      <div id="status-00" class="status-bars">
        <div id="bar-0" class="bar">

        </div>

      </div>
      <div id="status-01" class="status-bars">
        <div id="bar-1" class="bar">

        </div>
      </div>
      <div id="status-02" class="status-bars">
        <div id="bar-2" class="bar">

        </div>
      </div>
      <div id="status-03" class="status-bars">
        <div id="bar-3" class="bar">

        </div>
      </div>
    </div>
  </div>
  <img id="c0" class="carousel-img active" src="/images/home/4mobile.jpg" alt="">
  <img id="c1" class="carousel-img" src="/images/home/3mobile.jpg" alt="">
  <img id="c2" class="carousel-img" src="/images/home/2mobile.jpg" alt="">
  <img id="c3" class="carousel-img" src="/images/home/1mobile.jpg" alt="">
</div>
