<div class="footer">
  <div class="footer-content-container">
    <div class="back">
      BACK TO TOP
    </div>
    <div class="loc-icon footerIcons">
      <div class="icons">
        <img style="width:100%; height=100%;" src="/images/icons/location.png" alt="">
      </div>
    </div>
    <div class="loc-drop">
      <select id="loc-selc" onchange="localChange()">
        <option value="Denver1">DTC</option>
        <option value="Denver2">Glendale</option>
        <option value="Denver3">Downtown</option>
        <option value="Denver4">Englewood</option>
        <!--
        <option value="Denver5">Centennial</option>
      -->
      </select>
    </div>
    <div class="adde-icon footerIcons">
      <div class="icons">
        <img style="width:100%; height=100%;" src="/images/icons/Address.png" alt="">
      </div>
    </div>
    <div class="adds-data">
      <div id="footer-adds-data" class="data">
        8101 E Belleview Ave. Suite B1. Denver, CO 80237
      </div>
    </div>
    <div class="phone-icon footerIcons">
      <div class="icons">
          <img style="width:100%; height=100%;" src="/images/icons/Phone.png" alt="">
      </div>
    </div>
    <div class="phone-data">
      <div id="footer-phone-data" class="data">
        (303)-862-9941
      </div>
    </div>
    <div class="email-icon footerIcons">
      <div class="icons">
          <img style="width:100%; height=100%;" src="/images/icons/email.png" alt="">
      </div>
    </div>
    <div class="email-data">
      <div class="data">
        Thepokecity@gmail.com
      </div>
    </div>
    <div class="hours-icon footerIcons">
      <div class="icons">
        <img style="width:100%; height=100%;" src="/images/icons/Hours.png" alt="">
      </div>
    </div>
    <div class="hours-data">
      <div id="footer-hours-data" class="data">
        11:00 am - 08:00 pm
      </div>
    </div>
    <div class="social-icons-container">
      <div class="social-icon1 social-icons">
        <a id="footer-facebook" href="https://www.facebook.com/thepokecity/?ti=as"><img style="width:100%; height=100%;" src="/images/icons/FBL.png" alt=""></a>
      </div>
      <div class="social-icon2 social-icons">
        <a href="https://www.instagram.com/thepokecity/"><img style="width:100%; height=100%;" src="/images/icons/IGL.png" alt=""></a>
      </div>
      <div class="social-icon3 social-icons">
        <a id="footer-yelp" href="https://www.yelp.com/biz/pokecity-denver?osq=poke+city"><img style="width:100%; height=100%;" src="/images/icons/YelpL.png" alt=""></a>
      </div>
    </div>
    <div class="copyright-container">
      Copyright &copy; 2018 the Poke City.
    </div>
    <div class="hours-title-footer desktopOnly">
      Hours
    </div>
    <div class="contact-title-footer desktopOnly">
      Contact
    </div>
    <div class="location-title-footer desktopOnly">
      Location
    </div>
    <div id="day" class="hours-day-footer desktopOnly">
      Mon - Sun
    </div>
  </div>
  <div class="footer-content-container-desk firstDestTopFooter">
    <div class="">
      DTC
    </div>
    <div class="">
      8101 E Belleview Ave. Suite B1. Denver, CO 80237
    </div>
    <div class="">
      Mon-Sun 11:00am ~ 08:00pm
    </div>
    <div class="">
      (303)-862-9941
    </div>

    <div class="">
      <a href="https://www.facebook.com/thepokecity/?ti=as">
      <img src="/images/icons/FBL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img src="/images/icons/IGL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.yelp.com/biz/pokecity-denver?osq=poke+cit">
      <img src="/images/icons/YelpL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>



  </div>
  <div class="footer-content-container-desk">


    <div class="">
      Glendale
    </div>
    <div class="">
      1128 S Colorado Blvd. Denver, CO 80246
    </div>
    <div class="">
      Mon-Sun 11:00am ~ 08:00pm
    </div>
    <div class="">
      (303)-954-0005
    </div>
    <div class="">
      <a href="https://www.facebook.com/PokeCity-Glendale-129682744271297/?ti=as">
      <img src="/images/icons/FBL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img src="/images/icons/IGL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.yelp.com/biz/pokecity-denver-4">
      <img src="/images/icons/YelpL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>



  </div>
  <div class="footer-content-container-desk">




    <div class="">
      Downtown
    </div>
    <div class="">
      216 16th Street Suite 100. Denver, CO 80202
    </div>
    <div class="">
      Mon-Sun 11:00am ~ 06:00pm
    </div>
    <div class="">
      (720)-904-7937
    </div>
    <div class="">
      <a href="https://www.facebook.com/PokeCityDowntown/">
      <img src="/images/icons/FBL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img src="/images/icons/IGL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.yelp.com/biz/pokecity-downtown-denver?osq=poke+city">
      <img src="/images/icons/YelpL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>



  </div>
  <div class="footer-content-container-desk">






    <div class="">
      Englewood
    </div>
    <div class="">
      3401 S Broadway Suite 103. Englewood, CO 80110
    </div>
    <div class="">
      Coming Soon
    </div>
    <div class="">
      Coming Soon
    </div>
    <div class="">
      <a href="#">
      <img src="/images/icons/FBL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img src="/images/icons/IGL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>
    <div class="">
      <a href="#">
      <img src="/images/icons/YelpL.png" style="height:70%; width:70%;" alt="">
      </a>
    </div>

  </div>
  <div class="copy">
    Copyright &copy; 2018 the Poke City.
  </div>
</div>
