<div class="footer">
  <div class="footer-content-container">
    <div class="back">
      BACK TO TOP
    </div>
    <div class="loc-icon footerIcons">
      <div class="icons">
        <img style="width:100%; height=100%;" src="/images/icons/location.png" alt="">
      </div>
    </div>
    <div class="loc-drop">
      <select id="loc-selc" onchange="localChange()">
        <option value="Denver1">DTC</option>
        <option value="Denver2">Glendale</option>
        <option value="Denver3">Downtown</option>
        <option value="Denver4">Englewood</option>
        <!--
        <option value="Denver5">Centennial</option>
      -->
      </select>
    </div>
    <div class="adde-icon footerIcons">
      <div class="icons">
        <img style="width:100%; height=100%;" src="/images/icons/Address.png" alt="">
      </div>
    </div>
    <div class="adds-data">
      <div id="footer-adds-data" class="data">
        8101 E Belleview Ave. Suite B1. Denver, CO 80237
      </div>
    </div>
    <div class="phone-icon footerIcons">
      <div class="icons">
          <img style="width:100%; height=100%;" src="/images/icons/Phone.png" alt="">
      </div>
    </div>
    <div class="phone-data">
      <div id="footer-phone-data" class="data">
        (303)-862-9941
      </div>
    </div>
    <div class="email-icon footerIcons">
      <div class="icons">
          <img style="width:100%; height=100%;" src="/images/icons/email.png" alt="">
      </div>
    </div>
    <div class="email-data">
      <div class="data">
        email@email.com
      </div>
    </div>
    <div class="hours-icon footerIcons">
      <div class="icons">
        <img style="width:100%; height=100%;" src="/images/icons/Hours.png" alt="">
      </div>
    </div>
    <div class="hours-data">
      <div class="data">
        11:00 am - 08:00 pm
      </div>
    </div>
    <div class="social-icons-container">
      <div class="social-icon1 social-icons">
        <img style="width:100%; height=100%;" src="/images/icons/FB.png" alt="">
      </div>
      <div class="social-icon2 social-icons">
        <img style="width:100%; height=100%;" src="/images/icons/IG.png" alt="">
      </div>
      <div class="social-icon3 social-icons">
        <img style="width:100%; height=100%;" src="/images/icons/yelp.png" alt="">
      </div>
    </div>
    <div class="copyright-container">
      Copyright &copy; 2018 the Poke City.
    </div>
    <div class="hours-title-footer desktopOnly">
      Hours
    </div>
    <div class="contact-title-footer desktopOnly">
      Contact
    </div>
    <div class="Stay-title-footer desktopOnly">
      Stay Connected
    </div>
    <div class="hours-day-footer desktopOnly">
      Mon - Sun
    </div>
  </div>
</div>
