<div class="footer">
  <div class="footer-content-container">
    <div class="BackToTop">
      <img src="/images/icons/BackToTop.png" style="width:3.5rem;">
    </div>
    <div class="loc-icon footerIcons">
      <div class="icons">
        <img style="width:100%; height=100%;" src="/images/icons/location.png" alt="">
      </div>
    </div>
    <div class="loc-drop">
      <select id="loc-selc" onchange="localChange()">
        <option value="Denver1">DTC</option>
        <option value="Denver2">Glendale</option>
        <option value="Denver3">Downtown</option>
        <option value="Denver4">Englewood</option>
        <!--
        <option value="Denver5">Centennial</option>
      -->
      </select>
      <div class="" style="position: absolute; top:0.5rem; right: 0.5rem; color: black;">
        <img src="/images/icons/arrowDown.png" style="width:0.5rem;">
      </div>
    </div>
    <div class="adde-icon footerIcons">
      <div class="icons">

        <img style="width:100%; height=100%;" src="/images/icons/Address.png" alt="">
      </div>
    </div>
    <div class="adds-data">
      <a href="https://www.google.com/maps/place/PokeCity/@39.6247362,-104.8957135,17z/data=!3m1!4b1!4m5!3m4!1s0x876c86ff438dbbf5:0x6c9761adb01be6c0!8m2!3d39.6247362!4d-104.8935248">
      <div id="footer-adds-data" class="data">
        8101 E Belleview Ave. Suite B1. Denver, CO 80237
      </div>
      </a>
    </div>
    <div class="phone-icon footerIcons">
      <div class="icons">
          <img style="width:100%; height=100%;" src="/images/icons/Phone.png" alt="">

      </div>
    </div>
    <div class="phone-data">
      <div id="footer-phone-data" class="data">

        (303)-862-9941

      </div>
    </div>
    <div class="email-icon footerIcons">
      <div class="icons">

          <img style="width:100%; height=100%;" src="/images/icons/email.png" alt="">

      </div>
    </div>
    <div class="email-data">
      <div class="data">
        <a href="mailto:Thepokecity@gmail.com?Subject=Hello%20again">
          Thepokecity@gmail.com
        </a>


      </div>
    </div>
    <div class="hours-icon footerIcons">
      <div class="icons">

        <img style="width:100%; height=100%;" src="/images/icons/Hours.png" alt="">
      </div>
    </div>
    <div class="hours-data">
      <div id="footer-hours-data" class="data">
        Mon-Sun 11:00 am - 08:00 pm

      </div>
    </div>
    <div class="social-icons-container">
      <div class="social-icon1 social-icons">

        <a id="footer-facebook" href="https://www.facebook.com/thepokecity/?ti=as"><img id="footer-facebook-icon" style="width:36px; height=100%;" src="/images/icons/FBL.png" alt=""></a>
      </div>
      <div class="social-icon2 social-icons">
        <a href="https://www.instagram.com/thepokecity/"><img id="footer-ig-icon" style="width:36px; height=100%;" src="/images/icons/IGL.png" alt=""></a>
      </div>
      <div class="social-icon3 social-icons">
        <a id="footer-yelp" href="https://www.yelp.com/biz/pokecity-denver?osq=poke+city"><img id="footer-yelp-icon" style="width:36px; height=100%;" src="/images/icons/YelpL.png" alt=""></a>

      </div>
    </div>
    <div class="copyright-container">
      Copyright &copy; 2018 the Poke City.
    </div>

    <div class="hours-title-footer desktopOnly">
      Hours
    </div>
    <div class="contact-title-footer desktopOnly">
      Contact
    </div>
    <div class="location-title-footer desktopOnly">
      Location
    </div>
    <div id="day" class="hours-day-footer desktopOnly">
      Mon - Sun
    </div>
  </div>
  <div class="footer-content-container-desk firstDestTopFooter">
    <div class="branch">
      DTC
    </div>
    <a href="https://www.google.com/maps/place/PokeCity/@39.6247362,-104.8957135,17z/data=!3m1!4b1!4m5!3m4!1s0x876c86ff438dbbf5:0x6c9761adb01be6c0!8m2!3d39.6247362!4d-104.8935248">
    <div class="">
      8101 E Belleview Ave. Suite B1. Denver, CO 80237
    </div>
    </a>
    <div class="">
      Mon-Sun 11:00am ~ 08:00pm
    </div>
    <div class="">
      (303)-862-9941
    </div>

    <div class="">
      <a href="https://www.facebook.com/thepokecity/?ti=as">
      <img id="dtc-facebook" src="/images/icons/FBL.png" style="height:1rem; width:1rem;">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img id="dtc-insta" src="/images/icons/IGL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.yelp.com/biz/pokecity-denver?osq=poke+cit">
      <img id="dtc-yelp" src="/images/icons/YelpL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>



  </div>
  <div class="footer-content-container-desk">


    <div class="branch">
      Glendale
    </div>
    <a href="https://www.google.com/maps/place/PokeCity/@39.6957817,-104.941828,17z/data=!4m13!1m7!3m6!1s0x876c7e7871deb1d1:0xb53adf16f5ea9822!2s1128+S+Colorado+Blvd,+Denver,+CO+80246!3b1!8m2!3d39.6957817!4d-104.9396393!3m4!1s0x876c7e786fdbd4eb:0x8448a3d8b71d4d03!8m2!3d39.6957817!4d-104.9396393">
    <div class="">
      1128 S Colorado Blvd. Denver, CO 80246
    </div>
    </a>
    <div class="">
      Mon-Sun 11:00am ~ 08:00pm
    </div>
    <div class="">
      (303)-954-0005
    </div>
    <div class="">
      <a href="https://www.facebook.com/PokeCity-Glendale-129682744271297/?ti=as">
      <img id="glendale-facebook" src="/images/icons/FBL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img id="glendale-insta" src="/images/icons/IGL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.yelp.com/biz/pokecity-denver-4">
      <img id="glendale-yelp" src="/images/icons/YelpL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>



  </div>
  <div class="footer-content-container-desk">




    <div class="branch">
      Downtown
    </div>
    <a href="https://www.google.com/maps/place/216+16th+St+%23100,+Denver,+CO+80202/@39.7418279,-104.9906819,17z/data=!3m1!4b1!4m5!3m4!1s0x876c78d44937ea37:0x561677b85d893021!8m2!3d39.7418279!4d-104.9884932">
    <div class="">
      216 16th Street Suite 100. Denver, CO 80202
    </div>
    </a>
    <div class="">
      Mon-Sun 11:00am ~ 06:00pm
    </div>
    <div class="">
      (720)-904-7937
    </div>
    <div class="">
      <a href="https://www.facebook.com/PokeCityDowntown/">
      <img id="downtown-facebook" src="/images/icons/FBL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img id="downtown-insta" src="/images/icons/IGL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.yelp.com/biz/pokecity-downtown-denver?osq=poke+city">
      <img id="downtown-yelp" src="/images/icons/YelpL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>



  </div>
  <div class="footer-content-container-desk">






    <div class="branch">
      Englewood
    </div>
    <a href="https://www.google.com/maps/place/3401+S+Broadway+%23103,+Englewood,+CO+80110/@39.6548218,-104.9899858,17z/data=!3m1!4b1!4m5!3m4!1s0x876c807e4d590277:0x3a5bc99d830c4cde!8m2!3d39.6548218!4d-104.9877971">
    <div class="">
      3401 S Broadway Suite 103. Englewood, CO 80110
    </div>
    </a>
    <div class="">
      Coming Soon
    </div>
    <div class="">
      Coming Soon
    </div>
    <div class="">
      <a href="#">
      <img id="englewood-facebook" src="/images/icons/FBL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>
    <div class="">
      <a href="https://www.instagram.com/thepokecity/">
      <img id="englewood-insta" src="/images/icons/IGL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>
    <div class="">
      <a href="#">
      <img id="englewood-yelp" src="/images/icons/YelpL.png" style="height:1rem; width:1rem;" alt="">
      </a>
    </div>

  </div>
  <div class="copy">
    Copyright &copy; 2018 the Poke City.

  </div>
</div>
