<div class="form-popup-container">
  <div class="form-popup-box">
    <div class="form-popup-title">
      CONTACT US
      <div class="form-popup-x">
        X
      </div>
    </div>
    <div class="form-popup-inputs">
      <div class="form-popup-name">
        <input type="text" name="" value="" placeholder="Name">
      </div>
      <div class="form-popup-email">
        <input type="email" name="" value="" placeholder="Email">
      </div>
      <div class="form-popup-mesg">
        <input type="textarea" name="" value="" placeholder="Message">
      </div>

    </div>
    <div class="form-popup-submit">
      <div id="sendBtn" class="form-btn">
        SEND
      </div>
    </div>
  </div>
</div>

<div class="form-confirm">
  <div class="thank">
    Thank you Message Here
  </div>
</div>
