<div class="form-popup-container">
  <div class="form-popup-box">
    <div class="form-popup-title">
      CONTACT US
      <div class="form-popup-x">
        X
      </div>
    </div>
    <form class="" action="mailto:yos017@ucsd.edu" method="post" enctype="multipart/form-data">
      <div class="form-popup-inputs">
        <div class="form-popup-name">
          <input type="text" name="Name" value="" placeholder="Name">
        </div>
        <div class="form-popup-email">
          <input type="email" name="Email" value="" placeholder="Email">
        </div>
        <div class="form-popup-mesg">
          <input type="textarea" name="Comment" value="" placeholder="Message">
        </div>

      </div>
      <div class="form-popup-submit">
        <input id="sendBtn" class="form-btn" type="submit" name="" value="SEND">

      </div>
    </form>

  </div>
</div>
