<div id="navbar">

  <div class="nav-desk-upper-cover">

  </div>
  <a href="/">
  <div class="logo">
    <img id="logo-img" src="/images/logo.png" alt="">

  </div>
  </a>

  <nav class="site-nav">

    <div id="home-nav-content" class="site-content">
      <a href="/">Home
    
        <div class="nav-bar">
          <div class="nav-down-bar"></div>
        </div>

      </a>

    </div>
    <div id="menu-nav-content" class="site-content">
      <a href="/menu">Menu
        <div class="nav-bar">
          <div class="nav-down-bar">

          </div>
        </div>
      </a>
    </div>
    <div id="gallery-nav-content"  class="site-content">
      <a href="/gallery">Gallery
        <div class="nav-bar">
          <div class="nav-down-bar">

          </div>
        </div>
      </a>
    </div>
    <div id="about-nav-content"   class="site-content">
      <a href="/about">About
        <div class="nav-bar">
          <div class="nav-down-bar">

          </div>
        </div>
      </a>
    </div>
    <div id="contact-nav-content"  class="site-content">
      <a href="/contact">Contact
        <div class="nav-bar">
          <div class="nav-down-bar">

          </div>
        </div>
      </a>

    </div>


  </nav>
  <div id="site-name">
    <div id="site-name-box">
      POKE CITY
    </div>
  </div>
  <div id="orderOnline">
    <a href="https://www.doordash.com/store/pokecity-denver-100952/">
    <div id="orderOnline-btn">
      ORDER ONLINE
    </div>
    </a>
  </div>
  <div id="site-hamburger">
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>

</div>
<div id="site-nav-hamberger-open">


</div>
