<div id="navbar">
  <a href="/">
  <div class="logo">
    <img id="logo-img" alt="">
  </div>
  </a>

  <nav class="site-nav">
    <div class="">
      <a href="/"><i class="fa fa-home site-nav--icon"></i>Home</a>
    </div>
    <div class="">
      <a href="/menu"><i class="fa fa-info site-nav--icon"></i>Menu</a>
    </div>
    <div class="">
      <a href="/gallery"><i class="fa fa-pencil site-nav--icon"></i>Gallery</a>
    </div>
    <div class="">
      <a href="/about"><i class="fa fa-usd site-nav--icon"></i>About</a>
    </div>
    <div class="">
      <a href="/contact"><i class="fa fa-envelope site-nav--icon"></i>Contact</a>
    </div>


  </nav>
  <div id="site-name">
    <div id="site-name-box">
      POKE CITY
    </div>
  </div>
  <div id="orderOnline">
    <div id="orderOnline-btn">
      ORDER ONLINE
    </div>
  </div>
  <div id="site-hamburger">
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>

</div>
<div id="site-nav-hamberger-open">


</div>
