<nav class="site-nav-open">
  <div class="logo nav-pop-up">
    <img src="/images/logo.png" style="width:8rem;">
  </div>
  <div class="home nav-pop-up">
    <a href="/">HOME</a>
  </div>
  <div class="menu nav-pop-up">
    <a href="/menu">MENU</a>
  </div>
  <div class="gallery nav-pop-up">
    <a href="/gallery">GALLERY</a>
  </div>
  <div class="about nav-pop-up">
    <a href="/about">ABOUT</a>
  </div>
  <div class="contact nav-pop-up">
    <a href="/contact">LOCATIONS</a>
  </div>
  <div class="order nav-pop-up">

    <a href="https://www.doordash.com/store/pokecity-denver-100952/">ORDER DELIVERY</a>
  </div>


  <!-- -->
  <div class="bot-nav-phone" style="display: none;">
    <div class="menu-toggle-inside">
      <div id="close-nav-hambuger" style="transform: rotate(45deg); margin:1rem;" class="hamburger"></div>
    </div>
    <div class="bot-nav-phone-box">
      <div class="phone-box-text-title">
        The closest Poke City location is
      </div>
      <div class="phone-box-text-branch" style="margin-top: -0.5rem;">
        <div class="phone-box-text-name">
          DTC
        </div>
        <div class="phone-box-text-num">
          (303)-862-9941
        </div>
      </div>
      <div class="phone-box-text-branch">
        <div class="phone-box-text-name-normal">
          Downtown
        </div>
        <div class="phone-box-text-num">
          (720)-904-7937
        </div>
      </div>
      <div class="phone-box-text-branch">
        <div class="phone-box-text-name-normal">
          Glendale
        </div>
        <div class="phone-box-text-num">
          (303)-954-0005
        </div>
      </div>
      <div class="phone-box-text-branch">
        <div class="phone-box-text-name-normal">
          Englewood
        </div>
        <div class="phone-box-text-num">
          Coming Soon
        </div>
      </div>
    </div>
  </div>
  <div class="bot-nav-location" style="display: none;">
    <div class="menu-toggle-inside">
      <div id="close-nav-hambuger" style="transform: rotate(45deg); margin:1rem;" class="hamburger"></div>
    </div>
    <div class="bot-nav-location-box">
      <div class="phone-box-text-title-2">
        The closest Poke City location is
      </div>
      <div class="phone-box-text-branch" style="margin-top: -0.5rem;">
        <div class="phone-box-text-name">
          DTC
        </div>
        <div class="phone-box-text-num">
          8101 E Belleview Ave. Suite B1. <br>Denver, CO 80237
        </div>
        <div class="bot-nav-direction">
          <div class="">

          </div>
          <a href="https://www.google.com/maps/place/PokeCity/@39.6247362,-104.8957135,17z/data=!3m1!4b1!4m5!3m4!1s0x876c86ff438dbbf5:0x6c9761adb01be6c0!8m2!3d39.6247362!4d-104.8935248">
            <div class="" style="color: #2C1B11;">
            GET DIRECTIONS
            </div>
        </a>


        </div>
      </div>
      <div class="phone-box-text-branch location-layout">
        <div class="phone-box-text-name-normal-2">
          Downtown
        </div>
        <div class="phone-box-text-num-2">
          216 16th Street Suite 100.  <br>Denver, CO 80202
          <div class="bot-nav-direction-2">
            <div class="">

            </div>
            <a href="https://www.google.com/maps/place/216+16th+St+%23100,+Denver,+CO+80202/@39.7418279,-104.9906819,17z/data=!3m1!4b1!4m5!3m4!1s0x876c78d44937ea37:0x561677b85d893021!8m2!3d39.7418279!4d-104.9884932">
              <div class="" style="color: #2C1B11;">
                GET DIRECTIONS
              </div>
            </a>


          </div>
        </div>
      </div>
      <div class="phone-box-text-branch location-layout">
        <div class="phone-box-text-name-normal-2">
          Glendale
        </div>
        <div class="phone-box-text-num-2">
          1128 S Colorado Blvd.  <br>Denver, CO 80246
          <div class="bot-nav-direction-2">
            <div class="">
            </div>
            <a href="https://www.google.com/maps/place/PokeCity/@39.6957817,-104.941828,17z/data=!4m13!1m7!3m6!1s0x876c7e7871deb1d1:0xb53adf16f5ea9822!2s1128+S+Colorado+Blvd,+Denver,+CO+80246!3b1!8m2!3d39.6957817!4d-104.9396393!3m4!1s0x876c7e786fdbd4eb:0x8448a3d8b71d4d03!8m2!3d39.6957817!4d-104.9396393">
              <div class="" style="color: #2C1B11;">
                GET DIRECTIONS
              </div>
            </a>

          </div>
        </div>
      </div>
      <div class="phone-box-text-branch location-layout">
        <div class="phone-box-text-name-normal-2">
          Englewood
        </div>
        <div class="phone-box-text-num-2">
          3401 S Broadway Suite 103. Englewood, CO 80110
          <div class="bot-nav-direction-2">
            <div class="">

            </div>
            <a href="https://www.google.com/maps/place/3401+S+Broadway+%23103,+Englewood,+CO+80110/@39.6548218,-104.9899858,17z/data=!3m1!4b1!4m5!3m4!1s0x876c807e4d590277:0x3a5bc99d830c4cde!8m2!3d39.6548218!4d-104.9877971">
              <div class="" style="color: #2C1B11;">
                GET DIRECTIONS
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bot-nav-hour" style="display: none;">
    <div class="menu-toggle-inside">
      <div id="close-nav-hambuger" style="transform: rotate(45deg); margin:1rem;" class="hamburger"></div>
    </div>
    <div class="bot-nav-hour-box">
      <div class="phone-box-text-title">
        Poke City <span style="font-size:1.8rem; font-weight:400;">DTC</span> is currently
      </div>
      <div class="phone-box-text-branch" style="margin-top: -0.5rem;">
        <div class="phone-box-text-name">
          OPEN
        </div>
        <div class="phone-box-text-num">

        </div>
      </div>
      <div class="phone-box-text-branch location-layout">
        <div class="phone-box-text-name-normal">
          Downtown
        </div>
        <div class="phone-box-text-num-3">
          11am - 6pm
        </div>
      </div>
      <div class="phone-box-text-branch location-layout">
        <div class="phone-box-text-name-normal">
          Glendale
        </div>
        <div class="phone-box-text-num-3">
          11am - 8pm
        </div>
      </div>
      <div class="phone-box-text-branch location-layout">
        <div class="phone-box-text-name-normal">
          Englewood
        </div>
        <div class="phone-box-text-num-3">
          Coming Soon
        </div>
      </div>
    </div>
  </div>



  <div class="bottom-nav">
    <a href="mailto:yos017@ucsd.edu?Subject=Hello%20again" target="_top">
    <div id="bottom-nav-email" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/email.png" style="height:2.5rem;">
      </div>

        <div class="bottom-nav-box-text">
          EMAIL
        </div>


    </div>
    </a>
    <div id="bottom-nav-phone" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/Phone.png" style="height:2.5rem;">
      </div>
      <div class="bottom-nav-box-text">
        PHONE
      </div>

    </div>
    <div id="bottom-nav-location" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/location.png" style="height:2.5rem;">
      </div>
      <div class="bottom-nav-box-text">
        LOCATION
      </div>

    </div>
    <div id="bottom-nav-hour" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/Hours.png" style="height:2.5rem;">
      </div>
      <div class="bottom-nav-box-text">
        HOURS
      </div>

    </div>

  </div>
</nav>
