<nav class="site-nav-open">
  <div class="logo nav-pop-up">
    <img src="/images/logo.png" style="width:8rem;">
  </div>
  <div class="home nav-pop-up">
    <a href="/">HOME</a>
  </div>
  <div class="menu nav-pop-up">
    <a href="/menu">MENU</a>
  </div>
  <div class="gallery nav-pop-up">
    <a href="/gallery">GALLERY</a>
  </div>
  <div class="about nav-pop-up">
    <a href="/about">ABOUT</a>
  </div>
  <div class="contact nav-pop-up">
    <a href="/contact">LOCATIONS</a>
  </div>
  <div class="order nav-pop-up">

    <a href="https://www.doordash.com/store/pokecity-denver-100952/">ORDER DELIVERY</a>
  </div>
  <div class="close-nav" style="display: none;">
      <div class="menu-toggle-inside">
        <div id="close-nav-hambuger"  style="transform: rotate(45deg); margin:1rem;" class="hamburger"></div>
      </div>
  </div>


<div class="bottom-nav">
  <div class="bottom-nav-box">
    <div class="">
      <img src="/images/icons/email.png" style="height:2.5rem;">
    </div>
    <div class="bottom-nav-box-text">
      EMAIL
    </div>
  </div>
  <div class="bottom-nav-box">
    <div class="">
<img src="/images/icons/Phone.png" style="height:2.5rem;">
    </div>
    <div class="bottom-nav-box-text">
      PHONE
    </div>

  </div>
  <div class="bottom-nav-box">
    <div class="">
<img src="/images/icons/location.png" style="height:2.5rem;">
    </div>
    <div class="bottom-nav-box-text">
      LOCATION
    </div>

  </div>
  <div class="bottom-nav-box">
    <div class="">
<img src="/images/icons/Hours.png" style="height:2.5rem;">
    </div>
    <div class="bottom-nav-box-text">
      HOURS
    </div>

  </div>

</div>
</nav>
