<nav class="site-nav-open">
  <div class="home nav-pop-up">
    <a href="/">Home</a>
  </div>
  <div class="menu nav-pop-up">
    <a href="/menu">Menu</a>
  </div>
  <div class="gallery nav-pop-up">
    <a href="/gallery">Gallery</a>
  </div>
  <div class="about nav-pop-up">
    <a href="/about">About</a>
  </div>
  <div class="contact nav-pop-up">
    <a href="/contact">Contact</a>
  </div>
  <div class="order nav-pop-up">
    <a href="https://www.doordash.com/store/pokecity-denver-100952/">Order Delivery</a>
  </div>
  <div class="cover">

  </div>


</nav>
