<nav class="site-nav-open">
  <div class="logo nav-pop-up">
    <img src="/images/logo.png" style="width:8rem;">
  </div>
  <div class="home nav-pop-up">
    <a href="/">HOME</a>
  </div>
  <div class="menu nav-pop-up">
    <a href="/menu">MENU</a>
  </div>
  <div class="gallery nav-pop-up">
    <a href="/gallery">GALLERY</a>
  </div>
  <div class="about nav-pop-up">
    <a href="/about">ABOUT</a>
  </div>
  <div class="contact nav-pop-up">
    <a href="/contact">LOCATIONS</a>
  </div>
  <div class="order nav-pop-up">

    <a href="https://www.doordash.com/store/pokecity-denver-100952/">ORDER DELIVERY</a>
  </div>


  <!-- -->
  <div class="bot-nav-phone" style="display: none;">
    <div class="menu-toggle-inside">
      <div id="close-nav-hambuger" style="transform: rotate(45deg); margin:1rem;" class="hamburger"></div>
    </div>
    <div class="bot-nav-phone-box">
      <div class="phone-box-text-title">
        The closest Poke City location is
      </div>
      <div class="phone-box-text-branch" style="margin-top: -0.5rem;">
        <div class="phone-box-text-name">
          DTC
        </div>
        <div class="phone-box-text-num">
          (303)-862-9941
        </div>
      </div>
      <div class="phone-box-text-branch">
        <div class="phone-box-text-name-normal">
          Downtown
        </div>
        <div class="phone-box-text-num">
          (720)-904-7937
        </div>
      </div>
      <div class="phone-box-text-branch">
        <div class="phone-box-text-name-normal">
          Glendale
        </div>
        <div class="phone-box-text-num">
          (303)-954-0005
        </div>
      </div>
      <div class="phone-box-text-branch">
        <div class="phone-box-text-name-normal">
          Englewood
        </div>
        <div class="phone-box-text-num">
          Coming Soon
        </div>
      </div>
    </div>
  </div>




  <div class="bottom-nav">
    <div id="bottom-nav-email" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/email.png" style="height:2.5rem;">
      </div>
      <div class="bottom-nav-box-text">
        EMAIL
      </div>
    </div>
    <div id="bottom-nav-phone" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/Phone.png" style="height:2.5rem;">
      </div>
      <div class="bottom-nav-box-text">
        PHONE
      </div>

    </div>
    <div id="bottom-nav-location" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/location.png" style="height:2.5rem;">
      </div>
      <div class="bottom-nav-box-text">
        LOCATION
      </div>

    </div>
    <div id="bottom-nav-hour" class="bottom-nav-box">
      <div class="">
        <img src="/images/icons/Hours.png" style="height:2.5rem;">
      </div>
      <div class="bottom-nav-box-text">
        HOURS
      </div>

    </div>

  </div>
</nav>
