{{>header}}
  <body>
    <!-- navigation bar -->
    <a href="https://www.doordash.com/store/pokecity-denver-100952/" style="text-decoration:none;">
      <div id="orderDelivery">
        ORDER DELIVERY
      </div>
      </a>
      {{>navigation}}

    <!-- main body part -->
      {{{body}}}
    <!-- footer -->
    {{>footer}}
    {{>form}}
    {{>scripts}}
  </body>
</html>
