{{>header}}
  <body>
    <!-- navigation bar -->
      <div id="orderDelivery">
        ORDER DELIVERY
      </div>
      {{>navigation}}

    <!-- main body part -->
      {{{body}}}
    <!-- footer -->
    {{>footer}}
    {{>form}}
    {{>scripts}}
  </body>
</html>
