{{>header}}
  <body>
    <!-- navigation bar -->

    <a id="orderDe" href="https://www.doordash.com/store/pokecity-denver-100952/" style="text-decoration:none;">
      <div id="orderDelivery">
        ORDER DELIVERY
      </div>
      </a>
      <div class="desk-logo">
        <img src="/images/logo.png" style="height:7rem; width:7rem;">
      </div>
      {{>navigation}}

    <!-- main body part -->
      {{{body}}}
    <!-- footer -->
    {{>footer}}
    {{>form}}
    {{>scripts}}
  </body>
</html>
