<div class="main">
  {{>navPopup}}
  {{>carouselAbout}}
  <div id="about-page-div" class="page-title">
    <div class="about-title page-title-color-font">
      About
    </div>
  </div>
  <div class="about-content-container">
    <div class="about-content-box">
      <div class="what-is-pokecity">
        the <b>&nbsp;First&nbsp;</b> Poke Shop in Denver
      </div>

      <div class="about-desc">
        <b>PokeCity&nbsp;</b> is the first to bring Hawaii’s wildly popular poke bowls to Denver. Established in 2016, our dedication towards bringing you quality and freshness has just begun and we hope to continue for years to come. We combine health and deliciousness to create a unique and personalized experience just for you.
      </div>
      <div class="about-image">
        <img src="/images/home.jpeg" alt="about image">
      </div>
    </div>
    <div class="about-content-box-desktop">
      <div class="what-is-pokecity-desktop">
        the <b>&nbsp;First&nbsp;</b> Poke Shop in Denver
      </div>
      <div class="about-desc-desktop">
        PokeCity is the first to bring Hawaii’s wildly popular poke bowls to Denver. Established in 2016, our dedication towards bringing you quality and freshness has just begun and we hope to continue for years to come. We combine health and deliciousness to create a unique and personalized experience just for you.

    </div>
    <div class="about-image-desktop">
      <img src="/images/home.jpeg" alt="about image">
    </div>
  </div>
</div>
