<div class="main">
  {{>navPopup}}
  {{>carouselAbout}}
  <div id="about-page-div" class="page-title">
    <div class="about-title page-title-color-font">
      About
    </div>
  </div>
  <div class="about-content-container">
    <div class="about-content-box">

      <div class="about-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      </div>
      <div class="about-image">
        <img src="/images/home.jpeg" alt="about image">
      </div>
    </div>
    <div class="about-content-box-desktop">

      <div class="about-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      </div>
      <div class="about-image">
        <img src="/images/home.jpeg" alt="about image">
      </div>
    </div>
  </div>
</div>
