<div class="main">
  {{>navPopup}}
  {{>carouselAbout}}

  <div id="about-page-div" class="page-title">
    <div class="about-title page-title-color-font">
      About
    </div>
  </div>
  <div class="carousel-container-about-mobile">
    <div class="" style="position: relative; width:100%; height:100%;">
      <div class="carousel-circle-btn-container-about">
        <div class="carousel-circle-btns-about">
          <div id="status-00-about" class="status-bars">
            <div id="bar-0-about-mobile" class="bar shadow">

            </div>

          </div>
          <div id="status-01-about" class="status-bars">
            <div id="bar-1-about-mobile" class="bar shadow">

            </div>
          </div>
          <div id="status-02-about" class="status-bars">
            <div id="bar-2-about-mobile" class="bar shadow">

            </div>
          </div>
          <div id="status-03-about" class="status-bars">
            <div id="bar-3-about-mobile" class="bar shadow">

            </div>
          </div>
        </div>
      </div>

      <img src="/images/about/Caro1.jpg" class="about-caro-image-5 fix about-caro-image">
      <img src="/images/about/caro4.jpg" class="about-caro-image-4 fix about-caro-image">
      <img src="/images/about/caro3.jpg" class="about-caro-image-3 fix about-caro-image">
      <img src="/images/about/caro2.jpg" class="about-caro-image-2 fix about-caro-image">
      <img src="/images/about/Caro1.jpg" class="about-caro-image-1 fix about-caro-image">
      <div class="show-prev-about arrow-about">
        <img id="arrow-left-about-mobile" src="/images/icons/arrow-left.png" alt="">
      </div>
      <div class="show-next-about arrow-about">
        <img id="arrow-right-about-mobile" src="/images/icons/arrow-right.png" alt="">
      </div>
    </div>
  </div>
  <div class="about-content-container">
    <div class="about-content-box">
      <div class="what-is-pokecity">
        We <img src="/images/about/HeartIcon.png" style="width: 2rem; margin: 0 0.5rem;"> What We Do
      </div>

      <div class="about-desc">
        Our dedication towards bringing you quality and freshness has just begun and we hope to continue for years to come. We combine health
        and deliciousness to create a unique and personalized experience just for you.
      </div>
      <div class="about-image">
        <img src="/images/about/AboutGraphic3.jpg" alt="about image">
      </div>
      <div class="">
        <div class="about-fran-title">
          INTERESTED IN FRANCHISING?
        </div>
        <div class="about-fran-desc">
          We're always looking for serious poke lovers to help spread our brand. <br>How would you like to own your Poke City? <br>Emails us at thepokecity@gmail.com to learn more about the process!
        </div>
        <div class="" style="height: 24rem; position:relative;">
          <img src="/images/about/Pokebowl.jpg" style="width:100%; position:absolute; bottom:0; left:-1rem;">
        </div>
      </div>
    </div>
    <div class="about-content-box-desktop">
      <div class="what-is-pokecity-desktop">
        We <img src="/images/about/HeartIcon.png" style="width: 2rem; margin: 0 0.5rem;"> What We Do
      </div>
      <div class="about-desc-desktop">
        Our dedication towards bringing you quality and freshness has just begun and we hope to continue for years to come. <br>We combine health
        and deliciousness to create a unique and personalized experience just for you.


      </div>


    </div>
    <div class="about-desc-desktop-pallraxImage ">
      <div class="about-graphics">
        <img  class="graphics-1 shadow" src="/images/about/g1.jpg" alt="">
      </div>
      <div class="about-graphics-2">
        <img  class="graphics-2 shadow" src="/images/about/g2.jpg" alt="">
      </div>
      <div class="about-graphics ">
        <img class="graphics-3 shadow"  src="/images/about/g3.jpg" alt="">
      </div>
      <div class="about-graphics-2">
        <img class="graphics-4 shadow"  src="/images/about/g4.jpg" alt="">
      </div>
    </div>
    <div class="franchsing-about">
      <div class="about-fran-title-desk">
        INTERESTED IN FRANCHISING?
      </div>
      <div class="about-fran-desc">
        We're always looking for serious poke lovers to help spread our brand. <br>How would you like to own your Poke City? <br>Emails us at thepokecity@gmail.com to learn more about the process!
      </div>
    </div>
  </div>
