<div class="main">
  {{>navPopup}}
  {{>carouselAbout}}

  <div id="about-page-div" class="page-title">
    <div class="about-title page-title-color-font">
      About
    </div>
  </div>
  <div class="carousel-container-about-mobile">
    <div class="" style="position: relative; width:100%; height:100%;">


      <img src="/images/about/Caro1.jpg" class="about-caro-image-5 fix about-caro-image">
      <img src="/images/about/caro4.jpg" class="about-caro-image-4 fix about-caro-image">
      <img src="/images/about/caro3.jpg" class="about-caro-image-3 fix about-caro-image">
      <img src="/images/about/caro2.jpg" class="about-caro-image-2 fix about-caro-image">
      <img src="/images/about/Caro1.jpg" class="about-caro-image-1 fix about-caro-image">
      <div class="show-prev-about arrow-about">
        <img id="arrow-left-about-mobile" src="/images/icons/arrow-left.png" alt="">
      </div>
      <div class="show-next-about arrow-about">
        <img id="arrow-right-about-mobile" src="/images/icons/arrow-right.png" alt="">
      </div>
    </div>
  </div>
  <div class="about-content-container">
    <div class="about-content-box">
      <div class="what-is-pokecity">
        the <b>&nbsp;First&nbsp;</b> Poke Shop in Denver
      </div>

      <div class="about-desc">
        <b>PokeCity&nbsp;</b> is the first to bring Hawaii’s wildly popular poke bowls to Denver. Established in 2016, our dedication towards bringing you quality and freshness has just begun and we hope to continue for years to come. We combine health
        and deliciousness to create a unique and personalized experience just for you.
      </div>
      <div class="about-image">
        <img src="/images/home.jpeg" alt="about image">
      </div>
    </div>
    <div class="about-content-box-desktop">
      <div class="what-is-pokecity-desktop">
        the <b>&nbsp;First&nbsp;</b> Poke Shop in Denver
      </div>
      <div class="about-desc-desktop">
        PokeCity is the first to bring Hawaii’s wildly popular poke bowls to Denver. Established in 2016, our dedication towards bringing you quality and freshness has just begun and we hope to continue for years to come. We combine health and deliciousness to
        create a unique and personalized experience just for you.

      </div>
      <div class="about-image-desktop">
        <img src="/images/home.jpeg" alt="about image">
      </div>
    </div>
  </div>
