<div class="main">
  {{>navPopup}}
  <div id="contact-page-div" class="page-title">
    <div class="contact-title">
      Locations
      <div id="display" style="visibility:hidden;">

      </div>
    </div>
  </div>
  <div class="gallery-title-desk">
    <img src="/images/LocationsTitle.jpeg" style="height:360px;">
  </div>




  <div class="contact-content-container">
    <div class="contact-content-boxes">
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">

            <div class="">
              DTC
            </div>


          </div>
            <a style="color:black" href="https://www.google.com/maps/place/PokeCity/@39.6247362,-104.8957135,17z/data=!3m1!4b1!4m5!3m4!1s0x876c86ff438dbbf5:0x6c9761adb01be6c0!8m2!3d39.6247362!4d-104.8935248">
          <div class="contact-adde">
            8101 E Belleview Ave. Suite B1. <br>Denver, CO 80237
          </div>
          </a>

          <div style="color: black;" class="contact-phone">

                (303)-862-9941





            <!--
            <div style="grid-area:hours; font-size: 0.9rem; text-align:right; display:flex; flex-direction:row; justify-content:flex-end; align-items:center;" class="mobileOnly">

              <span class="start">11:00 am</span> - <span class="end">08:00 pm</span>
            </div>
            -->
          </div>
          <div class="start-end-hours">
            <b style="font-size:1.5rem;">HOURS</b>:  <div id="store1-open-closed" class="open-hour"></div><br>
            Mon-Sun&nbsp; <span class="start">11:00am</span> - <span class="end">08:00pm</span>
          </div>
          <div class="desktopOnly contact-hours">
            <div class="">
                <b style="font-size:1.5rem;">HOURS</b>: <div id="store1-open-closed2" class="open-hour"></div>
            </div>
            <div class="" style="line-height:1rem;">
                Mon-Sun &nbsp; <span class="start">11:00am</span> - <span class="end">08:00pm</span>
            </div>



          </div>
          <div style="display:flex; flex-direction:row; grid-area:Social; margin: 1rem 0;" class="">
            <span style="margin-right:1rem;"><img src="/images/icons/Bfb.png" style="width:1.5rem;"></span> <span style="margin-right:1rem;"><img src="/images/icons/BIG.png" style="width:1.5rem;"></span> <span><img src="/images/icons/Byelp.png" style="width:1.5rem;"></span>
          </div>
        </div>
        <div class="contact-map">
          <div id="map" style="height:100%; width:100%;"></div>
        </div>

      </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            <div class="">
              Glendale
            </div>


          </div>
          <a style="color:black" href="https://www.google.com/maps/place/PokeCity/@39.6957817,-104.941828,17z/data=!4m13!1m7!3m6!1s0x876c7e7871deb1d1:0xb53adf16f5ea9822!2s1128+S+Colorado+Blvd,+Denver,+CO+80246!3b1!8m2!3d39.6957817!4d-104.9396393!3m4!1s0x876c7e786fdbd4eb:0x8448a3d8b71d4d03!8m2!3d39.6957817!4d-104.9396393">
          <div class="contact-adde">
            1128 S Colorado Blvd. <br>Denver, CO 80246
          </div>
          </a>
          <div class="contact-phone">
            <div class="">
              (303)-954-0005
            </div>




          </div>
          <div class="start-end-hours">
            <b style="font-size:1.5rem;">HOURS</b>:  <div id="store2-open-closed" class="open-hour"></div><br>
            Mon-Sun&nbsp; <span class="start">11:00am</span> - <span class="end">08:00pm</span>
          </div>
          <div class="desktopOnly contact-hours">
            <div class="">
                <b style="font-size:1.5rem;">HOURS</b>: <div id="store2-open-closed2" class="open-hour"></div>
            </div>
            <div class="" style="line-height:1rem;">
                Mon-Sun &nbsp; <span class="start">11:00am</span> - <span class="end">08:00pm</span>
            </div>
          </div>
          <div style="display:flex; flex-direction:row; grid-area:Social; margin: 1rem 0;" class="">
            <span style="margin-right:1rem;"><img src="/images/icons/Bfb.png" style="width:1.5rem;"></span> <span style="margin-right:1rem;"><img src="/images/icons/BIG.png" style="width:1.5rem;"></span> <span><img src="/images/icons/Byelp.png" style="width:1.5rem;"></span>
          </div>
        </div>
        <div class="contact-map">
          <div id="map2" style="height:100%; width:100%;"></div>
        </div>

      </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            <div class="">
              Downtown
            </div>

          </div>
          <a style="color:black" href="https://www.google.com/maps/place/216+16th+St+%23100,+Denver,+CO+80202/@39.7418279,-104.9906819,17z/data=!3m1!4b1!4m5!3m4!1s0x876c78d44937ea37:0x561677b85d893021!8m2!3d39.7418279!4d-104.9884932">
          <div class="contact-adde">
            216 16th Street Suite 100. <br>Denver, CO 80202
          </div>
          </a>
          <div class="contact-phone">
            <div class="">
              (720)-904-7937
            </div>




          </div>
          <div class="start-end-hours">
            <b style="font-size:1.5rem;">HOURS</b>:  <div id="store3-open-closed" class="open-hour"></div><br>
            Mon-Sun&nbsp; <span class="start">11:00am</span> - <span class="end">06:00pm</span>
          </div>
          <div class="desktopOnly contact-hours">
            <div class="">
                <b style="font-size:1.5rem;">HOURS</b>: <div id="store3-open-closed2" class="open-hour"></div>
            </div>
            <div class="" style="line-height:1rem;">
                Mon-Sun &nbsp; <span class="start">11:00am</span> - <span class="end">06:00pm</span>
            </div>
          </div>
          <div style="display:flex; flex-direction:row; grid-area:Social; margin: 1rem 0;" class="">
            <span style="margin-right:1rem;"><img src="/images/icons/Bfb.png" style="width:1.5rem;"></span> <span style="margin-right:1rem;"><img src="/images/icons/BIG.png" style="width:1.5rem;"></span> <span><img src="/images/icons/Byelp.png" style="width:1.5rem;"></span>
          </div>
        </div>
        <div class="contact-map">
          <div id="map3" style="height:100%; width:100%;"></div>
        </div>

      </div>
      <div class="contact-content-box box-2">
        <div class="contact-info info-2">
          <div class="contact-name">
            <div class="">
              Englewood
            </div>

          </div>
            <a style="color:black" href="https://www.google.com/maps/place/PokeCity/@39.6247362,-104.8957135,17z/data=!3m1!4b1!4m5!3m4!1s0x876c86ff438dbbf5:0x6c9761adb01be6c0!8m2!3d39.6247362!4d-104.8935248">
          <div class="contact-adde">
            3401 S Broadway Suite 103. <br>Englewood, CO 80110
          </div>
          </a>
          <div class="contact-phone">
            Coming Soon
          </div>

          <div class="desktopOnly contact-hours">

          </div>
        </div>
        <div class="contact-map">
          <div id="map4" style="height:100%; width:100%;"></div>
        </div>
        <!--
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            Centennial
          </div>
          <div class="contact-adde">
            Coming Soon
          </div>
          <div class="contact-phone">
            Coming Soon
          </div>
        </div>
        <div class="contact-map">

        </div>

      </div>
-->

      </div>
      <div class="form-confirm">
        <div class="thank">
          <div class="thank-text">
            <div id="thank-1">Thank you <br>for getting in touch!</div>
            <br>
            <div id="thank-2" class="">
              We appreciate you contacting us.
            </div>
            <br>
            <div id="thank-3"  class="">

              One of our colleagues will get back to you shortly.
            </div>
            <br>

            <div id="thank-4" class="">
              Have a great day!
            </div>



          </div>

        </div>
      </div>
    </div>

  </div>
  <script src="/js/googleMap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrVuBl3fcPOe_NupbvEPvGW2yZLVCxzqY&callback=initMap" async defer></script>
