<div class="main">
  {{>navPopup}}
  <div class="page-title">
    <div class="contact-title">
      CONTACT
    </div>
  </div>
  <div class="contact-content-container">
    <div class="contact-content-boxes">
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            DTC
          </div>
          <div class="contact-adde">
            8101 E Belleview Ave. Suite B1. <br>Denver, CO 80237
          </div>
          <div class="contact-phone">
            (303)-862-9941
          </div>
        </div>
        <div class="contact-map">
          <img style="width: 100%; height:100%;" src="/images/DTC600300.jpg" alt="">
        </div>

      </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            Glendale
          </div>
          <div class="contact-adde">
            1128 S Colorado Blvd. <br>Denver, CO 80246
          </div>
          <div class="contact-phone">
            (303)-954-0005
          </div>
        </div>
        <div class="contact-map">
            <img style="width: 100%; height:100%;" src="/images/Glendale600300.jpg" alt="">
        </div>

      </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            Downtown
          </div>
          <div class="contact-adde">
            216 16th Street Suite 100. <br>Denver, CO 80202
          </div>
          <div class="contact-phone">
            (720)-904-7937
          </div>
        </div>
        <div class="contact-map">
            <img style="width: 100%; height:100%;" src="/images/Downtown600300.jpg" alt="">
        </div>

      </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            Englewood
          </div>
          <div class="contact-adde">
            3401 S Broadway Suite 103. <br>Englewood, CO 80110
          </div>
          <div class="contact-phone">
            Coming Soon
          </div>
        </div>
        <div class="contact-map">
          <img style="width: 100%; height:100%;" src="/images/Englewood600300.jpg" alt="">
        </div>

      </div>
        <!--
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            Centennial
          </div>
          <div class="contact-adde">
            Coming Soon
          </div>
          <div class="contact-phone">
            Coming Soon
          </div>
        </div>
        <div class="contact-map">

        </div>

      </div>
-->

    </div>
    <div class="form-confirm">
      <div class="thank">
        Thank you Message Here
      </div>
    </div>
    <div class="contact-form-box">
      <div class="contact-content-box2">
        <div class="contact-title2">
          <div class="contact-desc">
            Let Us Know How We're Doing!
          </div>
        </div>
        <div class="contact-desc">
          <div class="contact-btn-box">
            <div id="formBtn" class="form-btn">
              CONTACT US
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form-box-desktop">
      <div class="contact-content-box2">
        <div class="contact-title2">
          <div class="contact-desc">
            Let Us Know How We're Doing!
          </div>
        </div>
        <div class="contact-desc">
          <div class="contact-btn-box">
            <div class="form-btn">
              CONTACT US
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form-container">
      <div class="poke-form-container">
        <div class="poke-form-box poke-form-input">
          <input type="text" name="" value="" placeholder="Name">
        </div>
        <div class="poke-form-box">
          <input type="email" name="" value="" placeholder="Email">
        </div>
        <div class="poke-form-box poke-form-text">
          <input type="textarea" name="" value="">
        </div>
        <div class="form-popup-submit">
          <div id="sendBtn" class="form-btn">
            SEND
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
