<div class="main">
  {{>navPopup}}
  <div class="page-title">
    <div class="contact-title">
      CONTACT
    </div>
  </div>
  <div class="contact-content-container">
    <div class="contact-content-box">
      <div class="contact-info">
        <div class="contact-name">
          Branch Name
        </div>
        <div class="contact-adde">
          1128 S Colorado Blvd Denver, CO 80246
        </div>
        <div class="contact-phone">
          (303) 954-0005
        </div>
      </div>
      <div class="contact-map">

      </div>

    </div>
    <div class="contact-content-box">
      <div class="contact-info">
        <div class="contact-name">
          Branch Name
        </div>
        <div class="contact-adde">
          1128 S Colorado Blvd Denver, CO 80246
        </div>
        <div class="contact-phone">
          (303) 954-0005
        </div>
      </div>
      <div class="contact-map">

      </div>

    </div>
    <div class="contact-content-box">
      <div class="contact-info">
        <div class="contact-name">
          Branch Name
        </div>
        <div class="contact-adde">
          1128 S Colorado Blvd Denver, CO 80246
        </div>
        <div class="contact-phone">
          (303) 954-0005
        </div>
      </div>
      <div class="contact-map">

      </div>

    </div>
    <div class="contact-form-box">
      <div class="contact-content-box2">
        <div class="contact-title2">
          <div class="what-is-poke">

          </div>
        </div>
        <div class="contact-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        </div>
        <div class="contact-btn-box">
          <div id="formBtn" class="form-btn">
            CONTACT US
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
