<div class="main">
  {{>navPopup}}
  <div id="contact-page-div" class="page-title">
    <div class="contact-title">
      Contact
      <div id="display" style="visibility:hidden;">

      </div>
    </div>
  </div>
  <div class="contact-form-box">
    <div class="contact-content-box2">
      <div class="contact-title2">
        <div class="contact-desc">
          Let Us Know How We're Doing!
        </div>
      </div>
      <div class="contact-desc">
        <div class="contact-btn-box">
          <div id="contact-us-mobile" class="form-btn">
            CONTACT US
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form-box-desktop">
    <div class="contact-content-box2">
      <div class="contact-title2">
        <div class="contact-desc">
          Let Us Know How We're Doing!
        </div>
      </div>
      <div class="contact-desc">
        <div class="contact-btn-box">
          <div id="contact-us-desktop" class="form-btn">
            CONTACT US
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form-container">
    <div class="poke-form-container">
      <div class="poke-form-box poke-form-input">
        <input type="text" name="" value="" placeholder="Name">
      </div>
      <div class="poke-form-box">
        <input type="email" name="" value="" placeholder="Email">
      </div>
      <div class="poke-form-box poke-form-text">
        <input type="textarea" name="" value="">
      </div>
      <div class="form-popup-submit">
        <div id="sendBtn" class="form-btn">
          SEND
        </div>
      </div>
    </div>
  </div>



  <div class="contact-content-container">
    <div class="contact-content-boxes">
<!--

      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">

            <div class="">
              DTC
            </div>
            <div id="store1-open-closed" class="open">

            </div>
          </div>
          <div class="contact-adde">
            8101 E Belleview Ave. Suite B1. <br>Denver, CO 80237
          </div>

          <div style="color: black;" class="contact-phone">

                (303)-862-9941






          </div>
          <div class="start-end-hours">
            <span class="start">11:00 am</span> - <span class="end">08:00 pm</span>&nbsp;&nbsp;[Mon - Sun]
          </div>
          <div class="desktopOnly contact-hours">
            Mon-Sun<br>11:00am ~ 08:00pm
          </div>
        </div>
        <div class="contact-map">
          <div id="map" style="height:100%; width:100%;"></div>
        </div>

      </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            <div class="">
              Glendale
            </div>
            <div id="store2-open-closed" class="open">

            </div>

          </div>
          <div class="contact-adde">
            1128 S Colorado Blvd. <br>Denver, CO 80246
          </div>
          <div class="contact-phone">
            <div class="">
              (303)-954-0005
            </div>




          </div>
          <div class="start-end-hours">
          <span class="start">11:00 am</span> - <span class="end">08:00 pm</span>&nbsp;&nbsp;[Mon - Sun]
          </div>
          <div class="desktopOnly contact-hours">
            Mon-Sun<br>11:00am ~ 08:00pm
          </div>
        </div>
        <div class="contact-map">
          <div id="map2" style="height:100%; width:100%;"></div>
        </div>

      </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            <div class="">
              Downtown
            </div>
            <div id="store3-open-closed" class="open">

            </div>
          </div>
          <div class="contact-adde">
            216 16th Street Suite 100. <br>Denver, CO 80202
          </div>
          <div class="contact-phone">
            <div class="">
              (720)-904-7937
            </div>




          </div>
          <div class="start-end-hours">
            <span class="start">11:00 am</span> - <span class="end">06:00 pm</span>&nbsp;&nbsp;[Mon - Sun]
          </div>
          <div class="desktopOnly contact-hours">
            Mon-Sun<br>11:00am ~ 06:00pm
          </div>
        </div>
        <div class="contact-map">
          <div id="map3" style="height:100%; width:100%;"></div>
        </div>

      </div>

    -->
    <div class="contact-content-box">
      <div class="contact-info">
        <div class="contact-name">
          <div class="">
            DTC
          </div>
          <div id="store1-open-closed" class="open">

          </div>
        </div>
        <div class="contact-adde">
          8101 E Belleview Ave. Suite B1. <br>Denver, CO 80237
        </div>
        <div class="contact-phone">
          (303)-862-9941 wtf?
        </div>
        <div class="desktopOnly contact-hours">

        </div>
      </div>
      <div class="contact-map">
        <div id="map4" style="height:100%; width:100%;"></div>
      </div>

    </div>
      <div class="contact-content-box">
        <div class="contact-info">
          <div class="contact-name">
            <div class="">
              Englewood
            </div>
            <div  class="open">
              Coming Soon
            </div>
          </div>
          <div class="contact-adde">
            3401 S Broadway Suite 103. <br>Englewood, CO 80110
          </div>
          <div class="contact-phone">
            Coming Soon
          </div>
          <div class="desktopOnly contact-hours">

          </div>
        </div>
        <div class="contact-map">
          <div id="map4" style="height:100%; width:100%;"></div>
        </div>

      </div>
      <div class="form-confirm">
        <div class="thank">
          Thank you Message Here
        </div>
      </div>

<!--


-->
    </div>

  </div>
  <script src="/js/googleMap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrVuBl3fcPOe_NupbvEPvGW2yZLVCxzqY&callback=initMap" async defer></script>
