<div class="main">
  {{>navPopup}}
  <div id="gallery-page-div" class="page-title">
    <div class="gallery-title page-title-color-font">
      Gallery
    </div>
  </div>
  <div class="gallery-container">
    <div class="gallery-box">
      <div id="photo-0" class="photo">
        <img src="/images/gallery/1.jpg" style="width: 100%;" alt="">
        <div id="share-icons-0" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-1" class="photo">
        <img src="/images/gallery/2.jpg" style="width: 100%;" alt="">
        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-2" class="photo">
        <img src="/images/gallery/3.jpg" style="width: 100%;" alt="">
        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-3" class="photo">
          <img src="/images/gallery/4.jpg" style="width: 100%;" alt="">
        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-4" class="photo">
        <img src="/images/gallery/5.jpg" style="width: 100%;" alt="">
        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-5" class="photo">
        <img src="/images/gallery/6.jpg" style="width: 100%;" alt="">
        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-6" class="photo">
        <img src="/images/gallery/7.jpg" style="width: 100%;" alt="">
        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-7" class="photo">
        <img src="/images/gallery/8.jpg" style="width: 100%;" alt="">
        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-8" class="photo">
        <img src="/images/gallery/9.jpeg" style="width: 100%;" alt="">
        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>



    </div>
  </div>

  <div class="gallery-container-desk">
    <div class="gallery-box">
      <div id="photo-0" class="photo">

        <div id="share-icons-0" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-1" class="photo">

        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-2" class="photo">

        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-3" class="photo">

        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-4" class="photo">

        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-5" class="photo">

        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-6" class="photo">

        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-7" class="photo">

        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-8" class="photo">

        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>


    </div>

  </div>

</div>
