<div class="main">
  {{>navPopup}}
  <div id="gallery-page-div" class="page-title">
    <div class="gallery-title page-title-color-font">
      Gallery
    </div>
  </div>
  <div class="gallery-title-desk">
    <img src="/images/GalleryTitle.jpeg" alt="">
  </div>
  <div class="gallery-container">
    <div class="gallery-box">
      <div id="photo-0" class="photo">
        <span class="gallery-active g-food-btn">FOOD</span> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<span class="g-interior-btn">  INTERIOR </span> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; <span class="g-community-btn">  COMMUNITY</span>
      </div>
      <div id="photo-1" class="photo food-p">

        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-2" class="photo food-p">
        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-3" class="photo food-p">
        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-4" class="photo food-p">
        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-5" class="photo food-p">
        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-6" class="photo food-p">
        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-7" class="photo food-p">
        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-8" class="photo food-p">
        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>

      <div id="photo-10" class="photo interior-p">

        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-11" class="photo interior-p">
        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-12" class="photo interior-p">
        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-13" class="photo interior-p">
        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-14" class="photo interior-p">
        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-15" class="photo interior-p">
        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-16" class="photo interior-p">
        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-17" class="photo interior-p">
        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>

      <div id="photo-19" class="photo community-p">

        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-20" class="photo community-p">
        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-21" class="photo community-p">
        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-22" class="photo community-p">
        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-23" class="photo community-p">
        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-24" class="photo community-p">
        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-25" class="photo community-p">
        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-26" class="photo community-p">
        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>



    </div>
  </div>

  <div class="gallery-container-desk">
    <div class="gallery-box">
      <div id="photo-0" class="photo">
        FOOD


      </div>
      <div id="photo-1" class="photo">

        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-2" class="photo">

        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-3" class="photo">

        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-4" class="photo">

        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-5" class="photo">

        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-6" class="photo">

        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-7" class="photo">

        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-8" class="photo">

        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-9" class="photo">
        INTERIOR


      </div>
      <div id="photo-10" class="photo">

        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-11" class="photo">
        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-12" class="photo">
        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-13" class="photo">
        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-14" class="photo">
        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-15" class="photo">
        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-16" class="photo">
        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-17" class="photo">
        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-18" class="photo">
        COMMUNITY


      </div>
      <div id="photo-19" class="photo">

        <div id="share-icons-1" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-20" class="photo">
        <div id="share-icons-2" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-21" class="photo">
        <div id="share-icons-3" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-22" class="photo">
        <div id="share-icons-4" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-23" class="photo">
        <div id="share-icons-5" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-24" class="photo">
        <div id="share-icons-6" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-25" class="photo">
        <div id="share-icons-7" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>
      <div id="photo-26" class="photo">
        <div id="share-icons-8" class="photo-share-icons">
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
          <div class="share-icon">

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
