<div class="main">
  {{>navPopup}}
  {{>carousel}}
  <div class="home-content-container">
    <div class="home-content-box">
      <div class="home-title">
        <div class="what-is-poke">
          What is <b>Poke?</b>
        </div>
      </div>
      <div class="home-desc">
        <b style="font-size:1.2rem;">Poké</b> is a mix of raw seafood, usually ahi tuna or salmon, that is often garnered with avocado, seaweed, cucumber, and more. Served over rice or greens, there are many ways for you to create the perfect personalized bowl of Hawaiian flavors made just for you.
      </div>

    </div>
   <div class="parallax-image">
     <div class="home-menu-1 shadow">

         <div class="home-menu-title">
           We're the First
         </div>
         <div class="home-menu-desc">
           PokeCity is the first to bring Hawaii's wildly popular poke bowls to Denver. We combine health and deliciousness to create a uniqure and personalized experience.
         </div>


     </div>
     <div class="home-menu-2 shadow">
       <div class="home-menu-title">
         Freshness Delivered
       </div>
       <div class="home-menu-desc">
         With our parthnership with Doordash, we are now able to deliver our fresh products right to your doorstep.
       </div>
       <div class="" style="width: 100%; display:flex; flex-direction:column; justify-content:center; align-items:center;" >
         <a href="https://www.doordash.com/store/pokecity-denver-100952/">
         <div class="home-menu-btn shadow">
           ORDER DELIVERY
         </div>
         </a>
       </div>
     </div>
   </div>

  </div>
</div>
