<div class="main">
  {{>navPopup}}
  <div id="menu-page-div" class="page-title">
    <div class="menu-title page-title-color-font">
      Menu
    </div>
  </div>
  <div style="height:0;">
    <div class="signature-title">
      <div class="title-1">
        SPECIALTIES
      </div>
      <div class="">
        choose your own base and protein
      </div>
    </div>
  </div>
  <div class="menu-signature-container">
    <div class="menu-signature-box">
      <div class="">
          <img id="arrow-left-menu" src="/images/menu/menu-arrow-right.png" class="left-menu">
      </div>
      <div class="">
          <img id="arrow-right-menu" src="/images/menu/menu-arrow-left.png" class="right-menu">
      </div>
      <div class="items-containers">

        <div class="menu-signature item1">
          <div class="menu-signature-image">
            <img style="width:100%; height:100%;" src="/images/s1.png" alt="">
          </div>
          <div class="menu-signature-title">
            HOUSELICLOUS
          </div>
          <div class="arrow-down-container">
            <div id="arrow-down-0" class="arrow-down arrowActive arrow-down-t">
            </div>
          </div>
        </div>
        <div class="menu-signature item2">
          <div class="menu-signature-image">
            <img style="width:100%; height:100%;" src="/images/s2.png" alt="">
          </div>
          <div class="menu-signature-title">
            SPICIYOLI
          </div>
          <div class="arrow-down-container">
            <div id="arrow-down-1" class="arrow-down arrow-down-t">

            </div>
          </div>
        </div>
        <div class="menu-signature item3">
          <div class="menu-signature-image">
            <img style="width:100%; height:100%;" src="/images/s3.png" alt="">
          </div>
          <div class="menu-signature-title">
            HAWAIIAN
          </div>
          <div class="arrow-down-container">
            <div id="arrow-down-2" class="arrow-down arrow-down-t">

            </div>
          </div>
        </div>
        <div class="menu-signature item4">
          <div class="menu-signature-image">
            <img style="width:100%; height:100%;" src="/images/s4.png" alt="">
          </div>
          <div class="menu-signature-title">
            CITRUS SEA
          </div>
          <div class="arrow-down-container">
            <div id="arrow-down-3" class="arrow-down arrow-down-t">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="height:0; position:relative">
    <div class="menu-signature-one-container">
      <div id="one-item-0" class="menu-signature-one-items oneActive">
        <div class="slide-layout1">
          <div class="slide-layout-title">
            <div class="title-box">
              <div class="slide-title">

              </div>
              <div class="slide-desc">

              </div>
            </div>
          </div>
          <div class="slide-layout-image">
            <div class="slide-image">

            </div>

          </div>
        </div>
      </div>
      <div id="one-item-1" class="menu-signature-one-items">
        <div class="slide-layout1">
          <div class="slide-layout-title">
            <div class="title-box">
              <div class="slide-title">

              </div>
              <div class="slide-desc">

              </div>
            </div>
          </div>
          <div class="slide-layout-image">
            <div class="slide-image">

            </div>

          </div>
        </div>
      </div>
      <div id="one-item-2" class="menu-signature-one-items">
        <div class="slide-layout2">
          <div class="slide-layout-title">
            <div class="title-box">
              <div class="slide-title">

              </div>
              <div class="slide-desc">

              </div>
            </div>
          </div>
          <div class="slide-layout-image">
            <div class="slide-image">

            </div>

          </div>
        </div>
      </div>
      <div id="one-item-3" class="menu-signature-one-items">
        <div class="slide-layout2">
          <div class="slide-layout-title">
            <div class="title-box">
              <div class="slide-title">

              </div>
              <div class="slide-desc">

              </div>
            </div>
          </div>
          <div class="slide-layout-image">
            <div class="slide-image">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="menu-cover-up">

  </div>
  <div class="signature-btns desktopOnly">
    <div class="signature-btn item1">
      <div id="arrow-up-0" class="arrow-up arrowActive">
        <div class="arrow-up-2">

        </div>
      </div>
      <div class="">
        <img src="/images/menu/s1DeskIcon.jpg" style="width:8rem;">
      </div>
      <div class="signature-titles">
        HOUSELICLOUS
      </div>

    </div>
    <div class="signature-btn item2">
      <div id="arrow-up-1" class="arrow-up">
        <div class="arrow-up-2">

        </div>
      </div>
      <div class="">
        <img src="/images/menu/s2DeskIcon.jpg" style="width:8rem;">
      </div>
      <div class="signature-titles">
        SPICIYOLI
      </div>

    </div>
    <div class="signature-btn item3">
      <div id="arrow-up-2" class="arrow-up">
        <div class="arrow-up-2">

        </div>
      </div>
      <div class="">
        <img src="/images/menu/s3DeskIcon.jpg" style="width:8rem;">
      </div>
      <div class="signature-titles">
        HAWAIIAN
      </div>

    </div>
    <div class="signature-btn item4">
      <div id="arrow-up-3" class="arrow-up">
        <div class="arrow-up-2">

        </div>
      </div>
      <div class="">
  <img src="/images/menu/s4DeskIcon.jpg" style="width:8rem;">
      </div>
      <div class="signature-titles">
  CITRUS SEA
      </div>

    </div>
  </div>
  <div class="menu-container">
    <div class="menu-box">
      <div class="menu-start">
        MAKE IT YOUR WAY
      </div>
      <div class="menu-box-step step1">
        <span style="font-family: 'Pacifico', cursive; font-size:1.8rem;">Step 1</span> - SIZE
      </div>
      <div class="menu-box-image-container base1">
        <div class="size-box">
          <div class="size-item">
            <div class="size-image">
              <img src="/images/menu/Kids.jpg" style="width:100%; height:100%;" alt="">
            </div>
            <div class="size-text">
              <div class="size-title">
                KIDS
              </div>

              <div class="size-desc">
                1 scoop of protein
              </div>
              <div class="size-price">
                $2.95
              </div>
            </div>

          </div>
        </div>
        <div class="size-box">
          <div class="size-item">
            <div class="size-image">
              <img src="/images/menu/Small.jpg" style="width:100%; height:100%;" alt="">
            </div>
            <div class="size-text">
              <div class="size-title">
                SMALL
              </div>

              <div class="size-desc">
                2 scoops of protein
              </div>
              <div class="size-price">
                $8.95
              </div>
            </div>
          </div>
        </div>
        <div class="size-box">
          <div class="size-item">
            <div class="size-image">
              <img src="/images/menu/Medium.jpg" style="width:100%; height:100%;" alt="">
            </div>
            <div class="size-text-2">
            <div class="size-title">
              MEDIUM
            </div>

            <div class="size-desc">
              3 scoops of protein
            </div>
            <div class="size-price">
              $10.95
            </div>


            </div>
          </div>
        </div>
        <div class="size-box">
          <div class="size-item">
            <div class="size-image">
              <img src="/images/menu/Large.jpg" style="width:100%; height:100%;" alt="">
            </div>
            <div class="size-text-2">
            <div class="size-title">
              LARGE
            </div>

            <div class="size-desc">
              4 scoops of protein
            </div>
            <div class="size-price">
              $12.95
            </div>


            </div>
          </div>
        </div>
      </div>

      <div class="menu-box-step step2">
          <span style="font-family: 'Pacifico', cursive; font-size:1.8rem;">Step 2</span> - BASE
      </div>
      <div class="menu-box-base-container base2">
        <div class="base base2-item base2-item-first">
          White Rice
        </div>
        <div class="base base2-item">
          Brown Rice
        </div>
        <div class="base base2-item">
          Salad
        </div>
      </div>
      <div class="menu-box-step step3">
        <span style="font-family: 'Pacifico', cursive; font-size:1.8rem;">Step 3</span> - PROTEIN
      </div>
      <div class="menu-box-protein-container base3">
        <div id="protein-1" class="protein-l">
          Salmon
        </div>
        <div class="protein">
          Tuna
        </div>
        <div class="protein-l">
          Spicy Tuna
        </div>
        <div class="protein">
          Shrimp
        </div>
        <div class="protein-l">
          Scallop
        </div>
        <div class="protein">
          Octopus
        </div>
        <div class="protein-l">
          Chicken
        </div>
        <div class="protein">
          Yellowtail
        </div>
      </div>
      <div class="menu-box-step step4">
        <span style="font-family: 'Pacifico', cursive; font-size:1.8rem;">Step 4</span> - MIX IN
      </div>
      <div class="menu-box-mix-container base4">
        <div class="mix-l">
          Masago
        </div>
        <div class="mix">
          Green Onion
        </div>
        <div class="mix-l">
          White Onion
        </div>
        <div class="mix">
          Cilantro
        </div>
        <div class="mix-l">
          Jalapeno
        </div>
        <div class="mix">
          Tofu
        </div>
        <div class="mix-l">
          Hijiki Seaweed
        </div>
        <div class="mix">

        </div>
      </div>
      <div class="menu-box-step step5">
          <span style="font-family: 'Pacifico', cursive; font-size:1.8rem;">Step 5</span> - SAUCE
      </div>
      <div class="menu-box-sauce-container base5">
        <div class="sauce-l">
          <div class="">
            House Sauce
          </div>
          <div class="extra">
            soy sauce, mustard, sesame oil
          </div>
        </div>
        <div class="sauce">
          <div class="">
            Sesame Shoyu
          </div>

          <div class="extra">
            soy sauce, sesame oil
          </div>
        </div>
        <div class="sauce-l">
          <div class="">
            Wasabi Shoyu
          </div>

          <div class="extra">
            soy sauce, wasabi
          </div>
        </div>
        <div class="sauce">
          <div class="">
              Yuzu Citrus
          </div>

          <div class="extra">
            soy sauce, citrus fruit
          </div>
        </div>
        <div class="sauce-l">
          <div class="">
            Spicy Aioli
          </div>

          <div class="extra">
            sriracha, dairy product
          </div>
        </div>
        <div class="sauce">
          <div class="">
            Chili Oil
          </div>
          <div class="extra" style="visibility:hidden;">
            somethin
          </div>

        </div>
      </div>
      <div class="menu-box-step step6">
        <span style="font-family: 'Pacifico', cursive; font-size:1.8rem;">Step 6</span> - SALAD
      </div>
      <div class="menu-box-salad-container base6">
        <div class="salad base6-item">
          Crab
        </div>
        <div class="salad base6-item">
          Seaweed
        </div>
        <div class="salad base6-item">
          Octopus
        </div>
      </div>
      <div class="menu-box-step step7">
        <span style="font-family: 'Pacifico', cursive; font-size:1.8rem;">Step 7</span> - TOPPINGS
      </div>
      <div class="menu-box-toppings-container base7">
        <div class="toppings-l">
          Corn
        </div>
        <div class="toppings">
          Edamame
        </div>
        <div class="toppings-l">
          Cucumber
        </div>
        <div class="toppings">
          Pineapple
        </div>
        <div class="toppings-l">
          Tomato
        </div>
        <div class="toppings">
          Mango
        </div>
        <div class="toppings-l">
          Ginger
        </div>
        <div class="toppings">
          Almond
        </div>
        <div class="toppings-l">
          Fried Onion
        </div>
        <div class="toppings">
          Tempura Flake
        </div>
        <div class="toppings-l">
          Dried Seaweed
        </div>
        <div class="toppings">
          Sesame Seed
        </div>
        <div class="toppings-l">
          Hot Cheetos
        </div>
      </div>
      <div class="menu-order-deliver">
        <a href="https://www.doordash.com/store/pokecity-denver-100952/">
          <div class="menu-order-deliver-btn shadow">
            ORDER DELIVERY
          </div>
        </a>

      </div>

    </div>
  </div>
