.carousel-container-about-mobile{

  height: 15rem;
  width: 100%;
}
@keyframes slideRight {
    from {margin-left:0;}
    to {
      margin-left:100vw;
    }
}
@keyframes slideLeft {
    from {margin-left:100vw;}
    to {
      margin-left:0;
    }
}

.sliding-right{
  animation-name: slideRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.sliding-left{
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

}

#arrow-left-about-mobile{
  z-index: 1000;
  position: absolute;
  height: 3rem;
  top: 6rem;
}
#arrow-right-about-mobile{
  z-index: 1000;
  position: absolute;
  right: 0;
  height: 3rem;
  top: 6rem;
}
.fix{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.about-title {
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing:0.2rem;
  left: 0;
  right: 0;

}
.hidden{
  display: none;
}
.about-caro-image{
  width: 100%;
  height: 100%;
}
.about-caro-image-1{

    margin-left: 0;
}
.about-caro-image-2{

  margin-left: 0;
}

.about-caro-image-3{

}
.about-caro-image-4{

}

.about-content-container {
    width: 100%;
    height: 100rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.about-content-box {
    width: 95%;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 3fr;
    grid-template-areas: "Title" "Desc" "Image";
    margin-top: 1rem;
}
.about-fran-title{
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  color: #ACBA9A;
  text-align: center;
  background-image: url('/images/nav2.jpg');
  position: relative;
  top:-1rem;
  color: white;
}
.about-fran-desc{
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  position: relative;
  background-image: url('/images/nav2.jpg');
  top:-1rem;
  padding: 1rem;
  color: white;
  font-weight: 300;
}

.about-content{
  font-size: 2rem;
}

.about-desc{
  grid-area: Desc;
margin: auto;
text-align: center;
font-family: 'Oswald', sans-serif;
font-weight:300;

height: 7rem;
line-height: 1.5rem;

margin: 1rem;
margin-bottom: 2rem;
font-size: 1.3rem;
}


.about-image img{
  width: 100%;
}
.about-content-box-desktop, .about-desc-desktop{
  display: none;
}
.what-is-pokecity{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
  font-weight:300;
}
@media (min-width: 700px) {
  .about-content-container{
    height: 37em;
  }
  .about-content-box, .about-desc, .about-image, .about-image img{
    display: none;
  }
  .about-content-box-desktop, .about-desc-desktop{
    display: block;
  }
  .about-content-box-desktop{
      width: 95%;
      height: 27rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows:  1fr 3fr;
      grid-template-areas: "Title Image" "Desc Image";
  }
  .what-is-pokecity-desktop{
    grid-area:Title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  .about-desc-desktop{
    grid-area:Desc;
    text-align: center;
    height: 10rem;
    line-height: 1.5rem;
font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 1rem;

  }
  .about-image-desktop{
    grid-area:Image;
    width: 100%;
  }
  .about-image-desktop img{

    width: 100%;
  }

}
