.carousel-container-about-mobile{

  height: 15rem;
  width: 100%;
}
@keyframes slideRight {
    from {margin-left:0;}
    to {
      margin-left:100vw;
    }
}
@keyframes slideLeft {
    from {margin-left:100vw;}
    to {
      margin-left:0;
    }
}

.sliding-right{
  animation-name: slideRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.sliding-left{
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

}

#arrow-left-about-mobile{
  z-index: 49;
  position: absolute;
  height: 5rem;
  top: 5rem;
  width: 3rem;
}
#arrow-right-about-mobile{
  z-index: 49;
  position: absolute;
  right: 0;
  height: 5rem;
  top: 5rem;
  width: 3rem;
}
.fix{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.about-title {
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing:0.2rem;
  left: 0;
  right: 0;

}
.hidden{
  display: none;
}
.about-caro-image{
  width: 100%;
  height: 100%;
}
.about-caro-image-1{

    margin-left: 0;
}
.about-caro-image-2{

  margin-left: 0;
}

.about-caro-image-3{

}
.about-caro-image-4{

}

.about-content-container {
    width: 100%;
    height: 101rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.about-content-box {
    width: 95%;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 3fr;
    grid-template-areas: "Title" "Desc" "Image";
    margin-top: 1rem;
}
.about-fran-title{
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  color: #ACBA9A;
  text-align: center;
  background-image: url('/images/nav2.jpg');
  position: relative;
  top:-1rem;
  color: white;
  padding-top: 1rem;
}
.about-fran-desc{
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  position: relative;
  background-image: url('/images/nav2.jpg');
  top:-1rem;
  padding: 1rem;
  color: white;
  font-weight: 300;
}

.about-content{
  font-size: 2rem;
}

.about-desc{
  grid-area: Desc;
margin: auto;
text-align: center;
font-family: 'Oswald', sans-serif;
font-weight:300;

height: 7rem;
line-height: 1.5rem;

margin: 1rem;
margin-bottom: 2rem;
font-size: 1.2rem;
}


.about-image img{
  width: 100%;
}
.about-content-box-desktop, .about-desc-desktop{
  display: none;
}
.what-is-pokecity{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
font-family: 'Pacifico', cursive;
  font-weight:300;
}
.carousel-circle-btn-container-about{
  position: relative;
  top:11rem;
}
.carousel-circle-btns-about{
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". img1 img2 img3 img4 .";
  width: 100%;
  height: 1.5rem;
}
#status-00-about {
  grid-area: img1;
}

#status-01-about {
  grid-area: img2;
}

#status-02-about {
  grid-area: img3;
}

#status-03-about {
  grid-area: img4;
}
.dot{
  background-color: #ACBA9A;
}
@media (min-width: 700px) {
  .about-content-container{
    height: 124em;
    margin-top: 2rem;
    flex-direction: column;

  }
  .about-content-box, .about-desc, .about-image, .about-image img{
    display: none;
  }
  .about-content-box-desktop, .about-desc-desktop{
    display: block;
  }
  .about-content-box-desktop{
      width: 60%;
      height: 20rem;
      margin: auto;

  }
  .what-is-pokecity-desktop{
    grid-area:Title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-top: 2rem;
  }
  .about-desc-desktop{
    grid-area:Desc;
    text-align: center;
    height: 3rem;
    line-height: 1.5rem;
font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 1rem;
    font-size: 1.3rem;

  }
  .about-image-desktop{
    grid-area:Image;
    width: 100%;
  }
  .about-image-desktop img{

    width: 100%;
  }
  .carousel-circle-btn-container-about{
    top:17rem;

  }
  .carousel-circle-btns-about{
      grid-template-columns: 15fr 1fr 1fr 1fr 1fr 15fr;
  }
  .about-desc-desktop-pallraxImage{
    width: 100%;
    background-color: red;
    height: 154.4rem;
    position: relative;
  }
  .about-graphics{
    position: relative;
    width: 100%;

  }
  .about-graphics-2{
    position: relative;
    width: 100%;

  }
  .about-graphics img, .about-graphics-2 img{
    width: 42rem;
    position: absolute;
  }
    .about-graphics img{
      left: 0;
    }
    .about-graphics-2 img{
      right: 0;
    }
    .graphics-1{
      margin: 2rem;
      margin-left: 3rem;
    }
    .graphics-3{
    bottom: -71.2rem;
    margin: 2rem;
    margin-left: 3rem;
    }
    .graphics-2{
      bottom: -48.8rem;
      margin: 2rem;
      margin-right: 3rem;
    }
    .graphics-4{
      bottom: -93.5rem;
      margin: 2rem;
        margin-right: 3rem;
    }
    .about-fran-title, .about-fran-desc{
    background-color: white;
    color:black;
    background-image: none;
    font-size: 1.3rem;
    }
    .franchsing-about{
      height: 20rem;
    }
    .about-fran-title-desk{
      font-size: 1.8rem;
      font-family: 'Oswald', sans-serif;
      color: #ACBA9A;
      text-align: center;
      position: relative;
      top:-1rem;
      color: black;
      padding-top: 1rem;
      margin-top: 3rem;
    }
    .about-desc-desktop-pallraxImage{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image:url('/images/home/p.png');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }

    }
}
