.contact-title{
  grid-area: Title;
  margin: auto;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top:-0.2rem;
  width: 100%;
  text-align: center;
  letter-spacing:0.5rem;
  left: 0;
  right: 0;
  font-family: 'Playball', cursive;
}
.contact-content-container{
  width: 100%;
    height: 125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content-box{
  width: 90%;
    height: 25rem;

    display: grid;
    margin: 1rem auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "Info" "Map";
}
.contact-form-box{
  width: 100%;
    height: 15rem;

    margin: 3rem 0;
}
.contact-info{
  grid-area: Info;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-areas: "Name" "Adde" "Phone";
  font-family: 'Raleway', sans-serif;
  font-weight:300;

}
.contact-map{
  grid-area: Map;
  border: 0.5rem solid #eeeeee;
}

.contact-name, .contact-adde, .contact-phone, .contact-btn-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-name{
  grid-area: Name;
  font-size: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}
.contact-adde{
  grid-area: Adde;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
.contact-phone{
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "phone hours";
}

.contact-content-box2{
  width: 100%;
    height: 15rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 2fr;
    grid-template-areas: "Title" "Desc" "Btn";
}
.contact-title2{
  grid-area: Title;
    margin: auto;
}
.contact-desc{
  grid-area: Desc;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
}
.contact-btn-box{
  grid-area: Btn;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-btn{
  width: 15rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 0.3rem solid gray;
  background-color: #ACBA9A;
  color: white;
}
.form-popup-container{

  width: 100%;
  position: fixed;
  bottom: 0;

background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  z-index: 100;
    display: none;
}
.form-popup-box{
  width: 95%;
  height: 100%;

}

.formActive{
  height: 31.5rem;
}
.form-popup-title{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.form-popup-x{
  position: absolute;
  right: 1rem;
  top: 0;

}
.form-popup-inputs{
  height: 20rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.5fr 2fr;
  grid-template-areas: "Title" "Desc" "Btn";


}
.form-popup-inputs input{
  width: 18rem;
  height: 2rem;
  border: 1px solid gray;
}

.form-popup-inputs input::placeholder{
  font-size: 1rem;
}

.form-popup-name, .form-popup-email, .form-popup-mesg, .form-popup-submit, .thank, .poke-form-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-popup-mesg input {
  height: 15rem;
}
.form-popup-submit{
  width: 100%;
  height: 5rem;
}
.form-confirm{
  position: fixed;
  top:13rem;

  width: 100%;
  height: 0;
  background-color: yellow;
}
.thank{
  display: none;
  margin: auto;
  height: 15rem;
  width: 17rem;
  background-color: red;
}
.contact-content-boxes{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
    height: 150rem;
}
.contact-form-container, .contact-form-box-desktop{
  display: none;
}
.open{
font-size: 0.9rem;
text-align: right;
color: red;
}
.contact-phone-box{

}


@media (min-width: 700px) {
  .contact-content-boxes{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 130rem;
    grid-template-areas: "Item1" "Item2"
     "Item3" "Item4";
     margin: 5rem auto;
     margin-bottom: 0;
  }

  .contact-content-container{
    height: 135rem;
  }
  .mobileOnly{
    display: none;
  }

  .contact-form-container{
    display:block;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-form-box{
    display: none;
  }
  .contact-form-box-desktop{
    display: block;
    width: 100%;
    height: 15rem;
    background-color: gray;
  }
  .contact-content-box2{
    grid-template-rows: 1fr 1fr;
  }
  .contact-title2{

  }
  .contact-desc{
    font-size: 2rem;
    margin-bottom: auto;
    margin-top: 0;
  }
  .poke-form-container{
    width: 30rem;
    height: 100%;
    background-color: gray;
  }
  .poke-form-box input{
    width: 20rem;
    margin: 1rem;
    height: 2rem;
  }
  .poke-form-text input{
    height: 5rem;
  }
  .contact-content-box{
    grid-template-columns: 2.5fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Info Map";
    height: 18rem;
    margin: 1rem auto;
  }
  .contact-info{

  height: 100%;

  }
  .contact-map{
    grid-area: Map;
    height: 16rem;
  }
  .contact-info{
    grid-area: Info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    grid-template-areas: "Name" "Adde" "Phone" "Hours";

  }
  .contact-hours{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .open{
  text-align: center;
  }

}
