.contact-title {
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing:0.2rem;
  left: 0;
  right: 0;
  margin-top: 0.5rem;
  font-family: 'Pacifico', cursive;
color: #ACBA9A;
}

.contact-content-container {
  width: 100%;
  height: 110rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content-box {
  width: 90%;
  height: 25rem;
  display: grid;
  margin: 1rem auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.8fr;
  grid-template-areas: "Info" "Map";
}
.open-now{
  font-weight: 300;
  font-size: 1.5rem;
}

.contact-form-box {
  width: 100%;
  height: 9rem;
  margin: 2rem 0;
  margin-bottom: 0;
}

.contact-info {
  grid-area: Info;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "Name" "Adde" "Phone" "Hours";
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  height: 13rem;
  color: black;
}

.contact-map {
  grid-area: Map;
  border: 0.5rem solid #eeeeee;
  height: 10rem;
}

.contact-name, .contact-adde, .contact-phone, .contact-btn-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.contact-name {
  grid-area: Name;
  font-size: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-weight: 400;
}

.contact-adde {
  grid-area: Adde;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.contact-phone {
  font-size: 1.3rem;
  color: black;
}

.contact-content-box2 {
  width: 100%;
  height: 15rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 2fr;
  grid-template-areas: "Title" "Desc" "Btn";
}

.contact-title2 {
  grid-area: Title;
  margin: auto;
}

.contact-desc {
  grid-area: Desc;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.contact-btn-box {
  grid-area: Btn;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-btn {
  width: 15rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 0.3rem solid gray;
  background-color: #ACBA9A;
  color: white;
}

.form-popup-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  z-index: 100;
  display: none;
}

.form-popup-box {
  width: 95%;
  height: 100%;
}

.formActive {
  height: 31.5rem;
}

.form-popup-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.form-popup-x {
  position: absolute;
  right: 1rem;
  top: 0;
}

.form-popup-inputs {
  height: 20rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.5fr 2fr;
  grid-template-areas: "Title" "Desc" "Btn";
}

.form-popup-inputs input {
  width: 18rem;
  height: 2rem;
  border: 1px solid gray;
}

.form-popup-inputs input::placeholder {
  font-size: 1rem;
}

.form-popup-name, .form-popup-email, .form-popup-mesg, .form-popup-submit, .thank, .poke-form-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-popup-mesg input {
  height: 15rem;
}

.form-popup-submit {
  width: 100%;
  height: 5rem;
}

.form-confirm {
  position: fixed;
  top: 13rem;
  width: 100%;
  height: 0;
  background-color: yellow;
}

.thank {

  margin: auto;
  height: 15rem;
  width: 17rem;
  background-color: #e1e1e1;
}

.contact-content-boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 150rem;
}

.contact-form-container, .contact-form-box-desktop {
  display: none;
}

.open {
  font-size: 1.5rem;
  text-align: right;
  color: #ACBA9A;
  font-weight: 300;
  position: absolute;
  top:0rem;
  left: 9.3rem;
}

.start, .end {
  font-size: 1.3rem;
}

.start-end-hours {
  display: block;
  position: relative;

  font-size: 1.3rem;
  line-height: 1.5rem;
}
#contact-us-mobile:hover, #contact-us-desktop:hover{
 color: black;
 background-color: white;
 border-color: #ACBA9A;
}

.contact-form-container-mobile{
  display: none;
  height: 35rem;
  width: 100%;
  background-color: #e1e1e1;
  position: relative;
}
#contact-us-close{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;

}
#close-icon{
  width: 2rem;
  margin: 1rem;

}

#name-input, #email-input, #textarea-input{

  width: 80%;
  height: 3rem;
  padding-left:  1rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}

#name-input::placeholder, #email-input::placeholder, #textarea-input::placeholder{
  padding-left:  0.1rem;
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
#name-input{
  margin-top: 4rem;
    border: 1px solid black;
}
#textarea-input::placeholder{
padding-top: 1rem;
}

#textarea-input{
  margin-top: 1rem;
  height: 15rem;
}

#email-input{
  margin-top: 1rem;
  border: 1px solid black;
}
#contact-form-mobile, .btns-cotact{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
#contact-form-sent-btn{
padding-left:  0.1rem;
font-family: 'Oswald', sans-serif;
font-weight: 300;
width: 85%;
height: 4rem;
font-size: 2rem;
border-radius: 0.5rem;
margin-top: 1rem;
background-color: #ACBA9A;
border: 0.3rem solid gray;
color: white;
}
.thank{

  border-radius: 0.5rem;
  display: none;
}
.thank-text{
  margin: 0 0.2rem;
}

#thank-1{
font-size: 1.8rem;
font-family: 'Oswald', sans-serif;
font-weight: 300;
}
#thank-2{
  font-size: 0.8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
#thank-3{
  font-size: 0.8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
#thank-4{
  font-size: 1.8rem;
  margin-top: 0.3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.contact-phone{
  margin: 1rem 0;
}
.info-2{
  grid-template-rows: 1fr 1fr 1fr;
  height: 10rem;
}
.box-2{
  height: 18rem;
}


@media (min-width: 700px) {
  .contact-content-boxes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 120rem;
    grid-template-areas: "Item1" "Item2" "Item3" "Item4";
    margin: 5rem auto;
    margin-bottom: 0;
  }
  .contact-content-container {
    height: 110rem;
  }
  .mobileOnly {
    display: none;
  }
  .contact-form-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-form-box {
    display: none;
  }
  .contact-form-box-desktop {
    display: block;
    width: 100%;
    height: 13rem;

  }
  .contact-content-box2 {
    grid-template-rows: 1fr 1fr;
  }

  .contact-desc {
    font-size: 2rem;
    margin-bottom: auto;
    margin-top: 0;
  }
  .poke-form-container {
    width: 30rem;
    height: 100%;
    background-color: #e1e1e1;
  }
  .poke-form-box input {
    width: 20rem;
    margin: 1rem;
    height: 2rem;
  }
  .poke-form-text input {
    height: 5rem;
  }
  .contact-content-box {
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Info Map";
    height: 18rem;
    margin: 1rem auto;
    width: 75%;
  }
  .contact-info {

  margin-top: 1rem;
  }
  .contact-map {
    grid-area: Map;
    height: 16rem;
  }
  .contact-info {
    grid-area: Info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    grid-template-areas: "Name" "Adde" "Phone" "Hours";
    height: 14rem;
  }
  .contact-hours {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;

  }
  .open {
    position: relative;
    text-align: left;
    top: -2.2rem;
    width: 10rem;
    height: 1rem;
    left: 9.3rem;

  }
  .start-end-hours{
    display: none;
  }
  #name-input-desk{
    margin-top: 4rem;
  }
  #close-icon-desk{
    width: 2rem;
    position: absolute;
    right: 0;
    margin: 1rem;


  }
  .poke-form-container-desk{
    position: relative;
    width: 30rem;
    height: 30rem;
    background-color: #e1e1e1;
    display: none;


  }
  #name-input-desk::placeholder, #email-input-desk::placeholder, #textarea-input-desk::placeholder{
    padding-left:  0.1rem;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  #sendBtn{
    padding-left:  0.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

    height: 4rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: #ACBA9A;
    border: 0.3rem solid gray;
    color: white;
  }
  #textarea-input-desk{
height: 9rem;
  }
  #sendBtn:hover{
  color: black;
    background-color: white;
    border: 0.3rem solid #ACBA9A;
  }
  .thank{
    width: 30rem;
    height: 30rem;
    text-align: left;
    border-radius: 1rem;
    display: none;
  }
  .thank-text{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin: 0 1rem;
  }
  #thank-1{
  font-size: 3rem;
  }
  #thank-2, #thank-3{
    font-size: 1.8rem;
  }
  #thank-4{
    font-size: 3rem;
    margin-top: 2rem;
  }
  #sendBtn-desk{
    margin-top: 1rem;
  }
}
