.gallery-title {
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing:0.2rem;
  left: 0;
  right: 0;
  margin-top: 0.5rem;
}


.gallery-container {
  width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}
.gallery-active{
  color: #ACBA9A;

}

.community-p{
  display: none;
}
.interior-p{
  display: none;
}
.gallery-box {
  width: 95%;
  height: auto;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "Food-title"
  "Fimage1"
  "Fimage2"
  "Fimage3"
  "Fimage4"
  "Fimage5"
  "Fimage6"
  "Fimage7"
  "Fimage8"
  "Fimage9";
  grid-row-gap: 0.3rem;


}
#photo-0{
  grid-area: Food-title;
  margin-top: 1rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 300;

}
#photo-1{
  grid-area: Fimage1;
  background-image: url('/images/gallery/food/1.png');
  background-position: center;
  background-size: cover;
  height: 18rem;
}
#photo-2{
  grid-area: Fimage2;
  background-image: url('/images/gallery/food/2.png');
  background-position: center;
  background-size: cover;
}
#photo-3{
  grid-area: Fimage3;
  background-image: url('/images/gallery/food/3.png');
  background-position: center;
  background-size: cover;
}
#photo-4{
  grid-area: Fimage4;
  background-image: url('/images/gallery/food/4.png');
  background-position: center;
  background-size: cover;
}
#photo-5{
  grid-area: Fimage5;
  background-image: url('/images/gallery/food/5.png');
  background-position: center;
  background-size: cover;
}
#photo-6{
  grid-area: Fimage6;
  background-image: url('/images/gallery/food/6.png');
  background-position: center;
  background-size: cover;
}
#photo-7{
  grid-area: Fimage7;
  background-image: url('/images/gallery/food/7.png');
  background-position: center;
  background-size: cover;
}
#photo-8{
  grid-area: Fimage8;
  background-image: url('/images/gallery/food/9.jpg');
  background-position: center;
  background-size: cover;
}
#photo-9{
  grid-area: Int-title;
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-bottom: 2rem;
  text-align: center;
}
#photo-10{
  grid-area: Fimage1;
  background-image: url('/images/gallery/i/1.jpg');
  background-position: center;
  background-size: cover;
  height: 18rem;

}
#photo-11{
  grid-area: Fimage2;
  background-image: url('/images/gallery/i/2.jpg');
  background-position: center;
  background-size: cover;
}
#photo-12{
  grid-area: Fimage3;
  background-image: url('/images/gallery/i/3.jpg');
  background-position: center;
  background-size: cover;
}
#photo-13{
  grid-area: Fimage4;
  background-image: url('/images/gallery/i/5.jpg');
  background-position: center;
  background-size: cover;
}
#photo-14{
  grid-area: Fimage5;
  background-image: url('/images/gallery/i/6.png');
  background-position: center;
  background-size: cover;
}
#photo-15{
  grid-area: Fimage6;
  background-image: url('/images/gallery/i/7.png');
  background-position: center;
  background-size: cover;
}
#photo-16{
  grid-area: Fimage7;
  background-image: url('/images/gallery/i/8.png');
  background-position: center;
  background-size: cover;
}
#photo-17{
  grid-area: Fimage8;
  background-image: url('/images/gallery/i/9.png');
  background-position: center;
  background-size: cover;
}
#photo-18{
  grid-area: C-title;
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-bottom: 2rem;
  text-align: center;
}
#photo-19{
  grid-area: Fimage1;
  background-image: url('/images/gallery/c/1.png');
  background-position: center;
  background-size: cover;
  height: 18rem;

}
#photo-20{
  grid-area: Fimage2;
  background-image: url('/images/gallery/c/3.png');
  background-position: center;
  background-size: cover;
}
#photo-21{
  grid-area: Fimage3;
  background-image: url('/images/gallery/c/4.png');
  background-position: center;
  background-size: cover;
}
#photo-22{
  grid-area: Fimage4;
  background-image: url('/images/gallery/c/5.png');
  background-position: center;
  background-size: cover;
}
#photo-23{
  grid-area: Fimage5;
  background-image: url('/images/gallery/c/6.png');
  background-position: center;
  background-size: cover;
}
#photo-24{
  grid-area: Fimage6;
  background-image: url('/images/gallery/c/7.png');
  background-position: center;
  background-size: cover;
}
#photo-25{
  grid-area: Fimage7;
  background-image: url('/images/gallery/c/8.jpg');
  background-position: center;
  background-size: cover;
}
#photo-26{
  grid-area: Fimage8;
  background-image: url('/images/gallery/c/9.jpg');
  background-position: center;
  background-size: cover;
}



.photo{
  width: 100%;

  position: relative;
}
.photo-share-icons{
  position: absolute;
  display: none;
  height: 13rem;
  width: 3rem;
  right: 1rem;
  top: 1rem;
}
.share-icon{
  border: 1px solid gray;
  width: 100%;
  height: 3rem;
}
.gallery-container-desk{
  display: none;
}
.gallery-title-desk{
  display: none;
}
.sub-nav{
  grid-area: Food-subtitle;
}

@media (min-width: 700px) {
  .gallery-container{
    display: none;
  }
  .gallery-title-desk{
    display: block;
  }
  .gallery-title-desk img{
    width: 100%;
    height: 100%;
  }
  .gallery-container-desk{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .gallery-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr 1fr 1fr 0.1fr 1fr 1fr;
    grid-template-areas:
    "ft ft ft ft"
    "f1 f2 f3 f4"
    "f5 f6 f7 f8"
    "it it it it"
    "i1 i2 i3 i4"
    "i5 i6 i7 i8"
    "ct ct ct ct"
    "c1 c2 c3 c4"
    "c5 c6 c7 c8";


    width: 85%;
    height: auto;
    grid-gap: 1rem;
    margin-bottom: 12rem;
  }
  .gallery-box img{
    width: 100%;
    height: 100%;
  }
  .photo{
    background-position: center;
    background-size: cover;

    /*
    cursor: pointer;
    */

  }
  #photo-0{
    grid-area:ft;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    cursor:inherit;

  }
  #photo-1{
    grid-area:f1;
    background-image: url('/images/gallery/food/1.png');
    background-position: center;
    background-size: cover;
    height: 12rem;
  }
  #photo-2{
    grid-area:f2;
    background-image: url('/images/gallery/food/2.png');
    background-position: center;
    background-size: cover;
  }
  #photo-3{
    grid-area:f3;
    background-image: url('/images/gallery/food/3.png');
    background-position: center;
    background-size: cover;
  }
  #photo-4{
    grid-area:f4;
    background-image: url('/images/gallery/food/4.png');
    background-position: center;
    background-size: cover;
  }
  #photo-5{
    grid-area:f5;
    background-image: url('/images/gallery/food/5.png');
    background-position: center;
    background-size: cover;
  }
  #photo-6{
    grid-area:f6;
    background-image: url('/images/gallery/food/6.png');
    background-position: center;
    background-size: cover;
  }
  #photo-7{
    grid-area:f7;
    background-image: url('/images/gallery/food/7.png');
    background-position: center;
    background-size: cover;
  }
  #photo-8{
    grid-area:f8;
    background-image: url('/images/gallery/food/9.jpg');
    background-position: center;
    background-size: cover;
  }
  #photo-9{
    grid-area:it;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  #photo-10{
    grid-area: i1;
    background-image: url('/images/gallery/i/1.jpg');
    background-position: center;
    background-size: cover;
    height: 12rem;


  }
  #photo-11{
    grid-area: i2;
    background-image: url('/images/gallery/i/2.jpg');
    background-position: center;
    background-size: cover;
  }
  #photo-12{
    grid-area: i3;
    background-image: url('/images/gallery/i/3.jpg');
    background-position: center;
    background-size: cover;
  }
  #photo-13{
    grid-area: i4;
    background-image: url('/images/gallery/i/5.jpg');
    background-position: center;
    background-size: cover;
  }
  #photo-14{
    grid-area: i5;
    background-image: url('/images/gallery/i/6.png');
    background-position: center;
    background-size: cover;
  }
  #photo-15{
    grid-area: i6;
    background-image: url('/images/gallery/i/7.png');
    background-position: center;
    background-size: cover;
  }
  #photo-16{
    grid-area: i7;
    background-image: url('/images/gallery/i/8.png');
    background-position: center;
    background-size: cover;
  }
  #photo-17{
    grid-area: i8;
    background-image: url('/images/gallery/i/9.png');
    background-position: center;
    background-size: cover;
  }
  #photo-18{
    grid-area:ct;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  #photo-19{
    grid-area: c1;
    background-image: url('/images/gallery/c/1.png');
    background-position: center;
    background-size: cover;
    height: 12rem;


  }
  #photo-20{
    grid-area: c2;
    background-image: url('/images/gallery/c/3.png');
    background-position: center;
    background-size: cover;
  }
  #photo-21{
    grid-area: c3;
    background-image: url('/images/gallery/c/4.png');
    background-position: center;
    background-size: cover;
  }
  #photo-22{
    grid-area: c4;
    background-image: url('/images/gallery/c/5.png');
    background-position: center;
    background-size: cover;
  }
  #photo-23{
    grid-area: c5;
    background-image: url('/images/gallery/c/6.png');
    background-position: center;
    background-size: cover;
  }
  #photo-24{
    grid-area: c6;
    background-image: url('/images/gallery/c/7.png');
    background-position: center;
    background-size: cover;
  }
  #photo-25{
    grid-area: c7;
    background-image: url('/images/gallery/c/8.jpg');
    background-position: center;
    background-size: cover;
  }
  #photo-26{
    grid-area: c8;
    background-image: url('/images/gallery/c/9.jpg');
    background-position: center;
    background-size: cover;
  }


}
