.gallery-title {
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing:0.2rem;
  left: 0;
  right: 0;
  margin-top: 0.5rem;
}


.gallery-container {
  width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}
.gallery-box {
  width: 95%;
  height: auto;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1.1fr 1fr 1fr 1fr 1fr 1.1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "Food-title Food-title"
  "Fimage1 Fimage2"
  "Fimage3 Fimage4"
  "Fimage5 Fimage6"
  "Fimage7 Fimage8"
  "Int-title Int-title"
  "Iimage1 Iimage2"
  "Iimage3 Iimage4"
  "Iimage5 Iimage6"
  "Iimage7 Iimage8"
  "C-title C-title"
  "Cimage1 Cimage2"
  "Cimage3 Cimage4"
  "Cimage5 Cimage6"
  "Cimage7 Cimage8";
  grid-gap: 0.1rem;


}
#photo-0{
  grid-area: Food-title;
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-bottom: 2rem;
  text-align: center;
}
#photo-1{
  grid-area: Fimage1;
  background-image: url('/images/gallery/food/1.png');
  background-position: center;
  background-size: cover;
  height: 12rem;
}
#photo-2{
  grid-area: Fimage2;
  background-image: url('/images/gallery/food/2.png');
  background-position: center;
  background-size: cover;
}
#photo-3{
  grid-area: Fimage3;
  background-image: url('/images/gallery/food/3.png');
  background-position: center;
  background-size: cover;
}
#photo-4{
  grid-area: Fimage4;
  background-image: url('/images/gallery/food/4.png');
  background-position: center;
  background-size: cover;
}
#photo-5{
  grid-area: Fimage5;
  background-image: url('/images/gallery/food/5.png');
  background-position: center;
  background-size: cover;
}
#photo-6{
  grid-area: Fimage6;
  background-image: url('/images/gallery/food/6.png');
  background-position: center;
  background-size: cover;
}
#photo-7{
  grid-area: Fimage7;
  background-image: url('/images/gallery/food/7.png');
  background-position: center;
  background-size: cover;
}
#photo-8{
  grid-area: Fimage8;
  background-image: url('/images/gallery/food/9.jpg');
  background-position: center;
  background-size: cover;
}
#photo-9{
  grid-area: Int-title;
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-bottom: 2rem;
  text-align: center;
}
#photo-10{
  grid-area: Iimage1;
  background-image: url('/images/gallery/i/1.jpg');
  background-position: center;
  background-size: cover;

}
#photo-11{
  grid-area: Iimage2;
  background-image: url('/images/gallery/i/2.jpg');
  background-position: center;
  background-size: cover;
}
#photo-12{
  grid-area: Iimage3;
  background-image: url('/images/gallery/i/3.jpg');
  background-position: center;
  background-size: cover;
}
#photo-13{
  grid-area: Iimage4;
  background-image: url('/images/gallery/i/5.jpg');
  background-position: center;
  background-size: cover;
}
#photo-14{
  grid-area: Iimage5;
  background-image: url('/images/gallery/i/6.png');
  background-position: center;
  background-size: cover;
}
#photo-15{
  grid-area: Iimage6;
  background-image: url('/images/gallery/i/7.png');
  background-position: center;
  background-size: cover;
}
#photo-16{
  grid-area: Iimage7;
  background-image: url('/images/gallery/i/8.png');
  background-position: center;
  background-size: cover;
}
#photo-17{
  grid-area: Iimage8;
  background-image: url('/images/gallery/i/9.png');
  background-position: center;
  background-size: cover;
}
#photo-18{
  grid-area: C-title;
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-bottom: 2rem;
  text-align: center;
}
#photo-19{
  grid-area: Cimage1;
  background-image: url('/images/gallery/c/1.png');
  background-position: center;
  background-size: cover;

}
#photo-20{
  grid-area: Cimage2;
  background-image: url('/images/gallery/c/3.png');
  background-position: center;
  background-size: cover;
}
#photo-21{
  grid-area: Cimage3;
  background-image: url('/images/gallery/c/4.png');
  background-position: center;
  background-size: cover;
}
#photo-22{
  grid-area: Cimage4;
  background-image: url('/images/gallery/c/5.png');
  background-position: center;
  background-size: cover;
}
#photo-23{
  grid-area: Cimage5;
  background-image: url('/images/gallery/c/6.png');
  background-position: center;
  background-size: cover;
}
#photo-24{
  grid-area: Cimage6;
  background-image: url('/images/gallery/c/7.png');
  background-position: center;
  background-size: cover;
}
#photo-25{
  grid-area: Cimage7;
  background-image: url('/images/gallery/c/8.jpg');
  background-position: center;
  background-size: cover;
}
#photo-26{
  grid-area: Cimage8;
  background-image: url('/images/gallery/c/9.jpg');
  background-position: center;
  background-size: cover;
}



.photo{
  width: 100%;

  position: relative;
}
.photo-share-icons{
  position: absolute;
  display: none;
  height: 13rem;
  width: 3rem;
  right: 1rem;
  top: 1rem;
}
.share-icon{
  border: 1px solid gray;
  width: 100%;
  height: 3rem;
}
.gallery-container-desk{
  display: none;
}
.gallery-title-desk{
  display: none;
}

@media (min-width: 700px) {
  .gallery-container{
    display: none;
  }
  .gallery-title-desk{
    display: block;
  }
  .gallery-title-desk img{
    width: 100%;
    height: 100%;
  }
  .gallery-container-desk{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .gallery-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-areas:
    "g1 g1 g1 g1 g1 g2 g2 g2"
    "g1 g1 g1 g1 g1 g2 g2 g2"
    "g4 g4 g5 g5 g6 g6 g6 g6"
    "g4 g4 g7 g7 g6 g6 g6 g6"
    "g4 g4 g7 g7 g6 g6 g6 g6"
    "g8 g8 g8 g3 g3 g9 g9 g9";

    grid-gap: 0.8rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 50rem;
  }
  .gallery-box img{
    width: 100%;
    height: 100%;
  }
  .photo{
    background-position: center;
    background-size: cover;
  }
  #photo-0{
    grid-area:g1;
    background-image: url('/images/gallery/1.jpg');
  }
  #photo-1{
    grid-area:g2;
    background-image: url('/images/gallery/2.jpg');
  }
  #photo-2{
    grid-area:g3;
    background-image: url('/images/gallery/3.jpg');
  }
  #photo-3{
    grid-area:g4;
    background-image: url('/images/gallery/4.jpg');
  }
  #photo-4{
    grid-area:g5;
    background-image: url('/images/gallery/5.jpg');
  }
  #photo-5{
    grid-area:g6;
    background-image: url('/images/gallery/6.jpg');
  }
  #photo-6{
    grid-area:g7;
    background-image: url('/images/gallery/7.jpg');
  }
  #photo-7{
    grid-area:g8;
    background-image: url('/images/gallery/8.jpg');
  }
  #photo-8{
    grid-area:g9;
    background-image: url('/images/gallery/9.jpeg');
  }

}
