.home-content-container{
  width:100%;
  height: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.home-content-box{
  width: 95%;
  height: 28rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "Title"
    "Desc";
    margin-top: 40rem;
}

.home-title{
  grid-area:Title;
  margin: auto;
  margin-bottom: 0;
}
.what-is-poke{
  font-size: 2rem;
    font-family: 'Oswald', sans-serif;
  font-weight:300;
}

.home-desc{
  grid-area:Desc;

  text-align: center;
  height: 10rem;
  line-height: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  margin: 1rem;
  margin-bottom: 0;
}

.home-image img{
  width: 100%;
}
.home-menu-1{
  background-color: red;
  height: 25rem;
  width: 90%;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 2.5rem;


}
.home-menu-2{
  background-color: gray;
  height: 20rem;
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  align-items: center;


}
.home-menu-title{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
  font-weight:300;
}
.home-menu-desc{
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
font-weight:300;

  text-align: center;
  margin: 1rem;
  color: white;
}
.home-menu-btn{
  width: 15rem;
  height: 4rem;
  text-align: center;
  background-color: #ACBA9A;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
font-weight:300;
margin-top: 0.5rem;
cursor: pointer;

}

.parallax-image{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
background-image:url('/images/home/p.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.about-desc-desktop-pallraxImage{
  display: none;
}
.franchsing-about{
  display: none;
}




@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .home-content-box{
      margin-top: 38rem;
    }
}
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .home-content-box{
      margin-top: 0;
    }
}






@media (min-width: 700px) {
  .home-content-container{
    height: 74rem;
  }
  .home-content-box{
    height: 30rem;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "Title Image"
      "Desc Image";
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .home-image{
    grid-area: Image;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .home-title{
    margin-bottom:0;
  }
  .home-desc{
    margin: 1rem;
    font-size: 1.3rem;
  }
  .home-menu-1{
    background-color: red;
    height: 25.5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 2.5rem;
    margin-right: auto;
    margin-left: 9.5rem;

  }
  .home-menu-2{
    background-color: gray;
    height: 23rem;
    width: 40%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    position:relative;
    margin-left: auto;
    margin-right: 9.5rem;
    top: -3rem;
  }
  .parallax-image{
    height: 57rem;
  }
  .home-content-container{
    justify-content:flex-start;
  }
  .home-menu-title{
    margin-top: 3rem;
  }
  .franchsing-about{
    display: block;
  }
  .parallax-image{

  background-attachment: fixed;

  }
}
