.home-content-container{
  width:100%;
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.home-content-box{
  width: 95%;
  height: 18rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "Title"
    "Desc";
    margin-top: 74vh;
}

.home-title{
  grid-area:Title;
  margin: auto;
  margin-bottom: 0;
}
.what-is-poke{
  font-size: 2rem;
    font-family: 'Oswald', sans-serif;
  font-weight:300;
}

.home-desc{
  grid-area:Desc;

  text-align: center;
  height: 10rem;
  line-height: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  margin: 1rem;
  margin-bottom: 0;
}

.home-image img{
  width: 100%;
}
.home-menu-1{
  background-color: red;
  height: 20rem;
  width: 90%;
  display: flex;
  flex-direction: column;

  align-items: center;

}
.home-menu-2{
  background-color: gray;
  height: 20rem;
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.home-menu-title{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-top: 1rem;
}
.home-menu-desc{
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
font-weight:300;

  text-align: center;
  margin: 1rem;
}
.home-menu-btn{
  width: 15rem;
  height: 4rem;
  text-align: center;
  background-color: #ACBA9A;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
font-weight:300;
margin-top: 0.5rem;
cursor: pointer;

}



@media (min-width: 700px) {
  .home-content-container{
    height: 42rem;
  }
  .home-content-box{
    height: 40rem;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "Title Image"
      "Desc Image";
      margin-top: 0;
  }
  .home-image{
    grid-area: Image;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .home-title{
    margin-bottom:0;
  }
  .home-desc{
    margin: 1rem;
  }
}
