/* this is for main layout */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playball');




* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
a{
    text-decoration: none;
    color: white;
}

a:visited{
  color: white;

}

#orderDelivery {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  background-color:  #ACBA9A;
  color: white;
}

#orderDe{
  position: relative;
  z-index: 150;
}

/* this is for navigation */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.addTopMargin {
  margin-top: 5.5rem;
}

/* Style the navbar */

#navbar {
  height: 5rem;
  overflow: hidden;
  background-image:url('/images/nav2.jpg');
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Logo Name HambergerMenu";
  z-index: 100;
  background-position: center;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}


#logo-img {
  width: 4rem;
  height: 4rem;
}

#navbar::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: Logo;
  position: relative;
}

.menu-toggle {
  cursor: pointer;
}

.site-nav {
  display: none;
}

#orderOnline {
  display: none;
}

#site-name {
  grid-area: Name;
  margin: auto;
  margin-top: 1rem;
}

#site-name-box {
  font-size: 2.5rem;
}

#site-hamburger {
  margin: auto;
  position: relative;
  z-index: 1000;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: white;
  height: 3px;
  width: 2.75rem;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-0.8rem);
}

.hamburger::after {
  transform: translateY(0.7rem);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Navbar links */

#navbar a {
  margin: auto;
}

#navbar .site-nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}

.site-nav-open {
  visibility: hidden;
  grid-area: NavMenu;
  height: 0rem;
}
@keyframes navDrop {
    from {right: -26rem;}
    to {right:0;}
}

.site-nav-show {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "cover Home"
  "cover Menu"
  "cover Gallery"
  "cover About"
  "cover Contact"
  "cover Order"
  "cover Empty"
  ". .";
  grid-area: NavMenu;
  width: 100%;
  position: absolute;
  height: 35rem;
  z-index: 50;
  visibility: visible;
  animation-name: navDrop;
  animation-duration: 1s;


}

.home {
  grid-area: Home;
}

.menu {
  grid-area: Menu;
}

.gallery {
  grid-area: Gallery;
}

.about {
  grid-area: About;
}

.order {
  grid-area: Order;
}

.nav-pop-up {
  background-color: #ACBA9A;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  opacity: 0.99;


}

.nav-pop-up a {
  font-size: 2rem;
  text-decoration: none;
  color: white;

}

.nav-pop-up a:visited {
  color: white;
}

.main {
  position: relative;
  z-index: 10;
  top: 0;
}

#site-nav-hamberger-open {
  position: relative;
  z-index: 100;
  width: 100%;
}

.addTopPosition {
  top: 5rem;
  position: fixed;
}

.cover {
  grid-area: cover;
  background-color: transparent;
}

.arrow {
  position: absolute;
  top: 17rem;
  height: 1rem;
  width: 100%;
}

.show-prev {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.show-next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.carousel-container {
  height: 39.8rem;
  position: relative;
  width: 100%;
}

.carousel-container img {
  width: 100%;
  height: 100%;
}

.arrow img {
  height: 3rem;
  width: 3rem;
}

.menu-btn-container {
  position: absolute;
  bottom: 5.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  background-image:url('/images/nav2.jpg');
  height: 3rem;
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.1rem;
}

.carousel-img {
  display: none;
}

.active {
  display: block;
}

.carousel-circle-btn-container {
  position: absolute;
  bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-circle-btns {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". img1 img2 img3 img4 .";
  width: 100%;
  height: 1.5rem;
}

.status-bars {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#status-00 {
  grid-area: img1;
}

#status-01 {
  grid-area: img2;
}

#status-02 {
  grid-area: img3;
}

#status-03 {
  grid-area: img4;
}

.bar {
  height: 0.5rem;
  background-color: white;
  width: 90%;
}

.activeBar {
  background-color: #ACBA9A;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

/* footer */

.footer {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url('/images/nav2.jpg');

}

.footer-content-container {
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  color: white;
  width: 60%;
  height: 23rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-areas: "Back Back Back Back" "LocIcon LocDrop LocDrop LocDrop" "AddeIcon AddeData AddeData AddeData" "PhoneIcon PhoneData PhoneData PhoneData" "EmailIcon EmailData EmailData EmailData" "HourIcon HourData HourData HourData" "SocialIcons SocialIcons SocialIcons SocialIcons" "Copyright Copyright Copyright Copyright";
}

.back {
  grid-area: Back;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}

.loc-icon {
  grid-area: LocIcon;
}

.loc-drop {
  grid-area: LocDrop;
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.loc-drop select {
  width: 70%;
  background-color: white;
  text-align-last: center;
}

.loc-drop option {
  text-align: right;
}

/* TODO: later replace to icons */

.icons {
  width: 2rem;
  height: 2rem;
}

.adde-icon {
  grid-area: AddeIcon;
}

.footerIcons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adds-data {
  grid-area: AddeData;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data {
  width: 100%;

}

.phone-icon {
  grid-area: PhoneIcon;
}

.phone-data {
  grid-area: PhoneData;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.email-icon {
  grid-area: EmailIcon;
}

.email-data {
  grid-area: EmailData;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hours-icon {
  grid-area: HourIcon;
}

.hours-data {
  grid-area: HourData;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icons-container {
  grid-area: SocialIcons;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  height: 3rem;
  width: 3rem;
}

.copyright-container {
  grid-area: Copyright;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desktopOnly {
  display: none;
}

.carousel-container-about {
  display: none;
}
.footer-content-container-desk{
  display: none;
}
.copy{
  display: none;
}
.nav-desk-upper-cover{
  display: none;
}
.order a{
  border: 0.3rem solid gray;
  padding: 0.1rem;
}
#about-page-div{
  background-image: url('/images/nav2.jpg');
  background-size: cover;
  position: relative;
}
#menu-page-div{
  background-image: url('/images/nav2.jpg');
  background-size: cover;
  position: relative;
}
#gallery-page-div{
  background-image: url('/images/nav2.jpg');
  background-size: cover;
  position: relative;
}

#contact-page-div{
  background-image: url('/images/nav2.jpg');
  background-size: cover;
}


.page-title-color-font{
    font-family: 'Playball', cursive;
  color: white;
}

/* for desktop version*/

@media (min-width: 700px) {
  #navbar {
    grid-template-columns: 1fr 4fr 2fr;

    grid-template-rows: 1fr;
    grid-template-areas: "Logo Nav Order";
    height: 5rem;
  }
  .logo{
    width: 100%;
    height: 100%;
  }
  #navbar a{
    grid-area:Logo;
    width: 100%;
    height: 100%;
  }
  .menu-toggle {
    display: none;
  }
  #orderDelivery {
    display: none;
  }
  #orderOnline {
    margin: auto;
  }
  #orderOnline-btn {
    border: 1px solid gray;
    width: 8rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: Nav;
    position: relative;
  }
  #site-name {
    display: none;
  }
  #orderOnline {
    display: block;
    grid-area:Order;
  }
  .site-nav a {
    font-size: 1.5rem;


  }
  .site-nav a:hover, .site-nav a:focus {
    background: transparent;
  }
  .carousel-container {
    height: 45rem;
  }
  .arrow {
    top: 20rem;
  }
  .carousel-circle-btns {
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr 8fr;
  }
  .nav-bar {
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: 0.3rem;
    display: none;
  }
  .site-nav .site-content {
    position: relative;
  }
  .nav-down-bar-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-down-bar {
    width: 70%;
    height: 0.4rem;
    position: relative;
    z-index: 100;
    background-color: #ACBA9A;
  }
  .footer-content-container {
    display: none;
  }
  .back {
    display: none;
  }
  .loc-icon {
    grid-area: LocIcon;
  }
  .loc-drop {
    grid-area: LocDrop;
  }
  .adde-icon {
    grid-area: AddeIcon;
  }
  .adds-data {
    grid-area: AddeData;
  }
  .desktopOnly {
    display: block;
    width: 90%;
  }
  .hours-title-footer {
    grid-area: HoursTitle;
  }
  .contact-title-footer {
    grid-area: ContactTitle;
  }
  .location-title-footer {
    grid-area: Loctitle;
  }
  .hours-icon {
    grid-area: HoursIcon;
  }
  .hours-data {
    grid-area: HoursData;
  }
  .phone-icon {
    grid-area: PhoneIcon;
  }
  .phone-data {
    grid-area: PhoneData;
  }
  .social-icons-container {
    grid-area: Social;
  }
  .email-icon {
    grid-area: EmailIcon;
  }
  .email-data {
    grid-area: EmailData;
  }
  .copyright-container {
    grid-area: Copy;
  }
  .social-icons-container {
    justify-content: center;
  }
  .social-icons {
    margin: 0 0.5rem;
  }
  .footerIcons {
    justify-content: center;
  }
  .hours-day-footer {
    grid-area: Day;
  }
  .data {
    background-color: transparent;
  }
  .carousel-container-about {
    display: block;
    height: 22.5rem;
    position: relative;
    width: 100%;
  }
  .arrow-about {
    position: absolute;
    top: 10rem;
    height: 1rem;
    width: 100%;
  }
  .show-next-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .carousel-container-about img {
    width: 100%;
    height: 100%;
  }
  .arrow-about img {
    height: 3rem;
    width: 3rem;
    background-color: white;
  }
  .carousel-circle-btn-container-about {
    position: absolute;
    bottom: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .carousel-circle-btns-about {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr 8fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". img1 img2 img3 img4 .";
    width: 100%;
    height: 1.5rem;
  }
  #status-00-about {
    grid-area: img1;
  }
  #status-01-about {
    grid-area: img2;
  }
  #status-02-about {
    grid-area: img3;
  }
  #status-03-about {
    grid-area: img4;
  }
  .carousel-about-img {
    display: none;
  }
  .active {
    display: block;
  }
  #day{
    font-size: 1rem;
  }
  .footer-content-container-desk{
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    color: white;
    margin-top: 1rem;
    width: 90%;
    display: grid;
    grid-template-columns: 5fr 15fr 10fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Name1 Adde1 Hour1 Phone1 F1 I1 Y1";
    font-size: 0.9rem;
  }
  .copy{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ACBA9A;
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color:  #ACBA9A;
  }
  .footer{
    height: 17rem;
  }
  .firstDestTopFooter{
  margin-top: 3.5rem;
  }
  #orderOnline-btn{
    font-family: 'Raleway', sans-serif;
  }
  .empty{
    grid-area: Empty;
  }

}
