.slide-layout-title, .slide-layout-image, .slide-image, .menu-container, .page-title, .menu-signature-image, .arrow-down-container, .size-box, .size-image, .size-price{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu-cover-up{
  height:9.9rem;
}

.page-title {
  width: 100%;
  height: 2.7rem;
}

.menu-title{
  font-size: 1.5rem;
  position: absolute;
  top:-0.2rem;
  width: 100%;
  text-align: center;
  letter-spacing:0.5rem;
  left: 0;
  right: 0;
}

.menu-signature-container {
  width: 100%;
  height: 14rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.menu-signature-box {
  width: 150%;
  height: 100%;
  position: relative;
}

.signature-title {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  bottom: -1rem;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}

.items-containers {
  width: 100%;
  position: relative;
  top: 5rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-signature {
  height: 8.5rem;
  width: 7rem;
}

.menu-signature-image {
  width: 100%;
  height: 7rem;
}

.menu-signature-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}

.arrow-down {
  position: relative;
  top: 0.9rem;
  height: 3rem;
  width: 3rem;
  z-index: 10;
  display: none;
}

.menu-signature-one-container {
  position: relative;
  width: 100%;
  height: 12rem;
  top: -1.1rem;
}

.arrowActive {
  display: block;
}

.arrow-down-t {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;

  border-top: 1rem solid white;
}


.menu-signature-one-items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.oneActive {
  display: block;
}

.slide-layout1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Title Image";
  width: 100%;
  height: 100%;

  background-size: cover;
}

.slide-layout2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Image Title";
  width: 100%;
  height: 100%;
  background-size: cover;
}

#one-item-0{
  background-image: url('/images/menu/s1Mobile.jpg');
  background-size: cover;
  background-position: center;
}
#one-item-1{
  background-image: url('/images/menu/s2Mobile.jpg');
  background-size: cover;
  background-position: center;
}
#one-item-2{
  background-image: url('/images/menu/s3Mobile.jpg');
  background-size: cover;
  background-position: center;
}

#one-item-3{
  background-image: url('/images/menu/s4Mobile.jpg');
  background-size: cover;
  background-position: center;
}

.slide-layout-title {
  grid-area: Title;
}

.slide-layout-image {
  grid-area: Image;
}

.title-box {
  width: 10rem;
  height: 7rem;
}

.slide-title {
  font-size: 1.3rem;
}

.slide-desc {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.slide-image {
  width: 9rem;
  height: 9rem;
}

.menu-container {
  width: 100%;
  height: 125rem;
}

.menu-box {
  width: 95%;
  height: 120rem;
}

.menu-start {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.menu-box-step {
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 0;
  font-family: 'Playball', cursive;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.menu-box-title {
  font-size: 1.3rem;
  text-align: center;
}

.menu-box-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Kid Small" "Medium Large";
  width: 100%;
  height: 15rem;
}

.size-item {
  width: 5rem;
  height: 8rem;
}

.size-image {
  width: 100%;
  height: 5rem;
}

.size-price {
  margin-top: 0.5rem
}

.menu-box-base-container, .menu-box-salad-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "White Brown" "Salad";
  width: 100%;
  height: 2rem;
}

.base, .protein, .mix, .sauce, .salad, .toppings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem
}

.menu-box-protein-container, .menu-box-mix-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "Salmon Tuna" "Spicy Shrimp" "Scallop Octopus" "Chicken Yellowtail";
  width: 100%;
  height: 10rem;
}

.menu-box-sauce-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Salmon Tuna" "Spicy Shrimp" "Scallop Octopus" "Chicken Yellowtail";
  width: 100%;
  height: 7.5rem;
}

.menu-box-toppings-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 17.5rem;
}

.protein {
  height: 2rem;
}
.menu-order-deliver{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-order-deliver-btn{
  width: 15rem;
  height: 4rem;
  border: 0.3rem solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color:  #ACBA9A;
  color: white;
}
.base, .protein, .size-price, .mix, .sauce, .salad, .toppings, .menu-order-deliver-btn, .menu-start{
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}
.size-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}

@media (min-width: 700px) {
  .page-title {
    display: none;
  }
  .menu-signature-container{
    display: none;
  }
  .menu-signature-one-container{
    top:-0.5rem;
    height: 30rem;
  }
  #menu-cover-up{
    height:29.5rem;
  }
  .signature-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
  }
  .signature-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    position: relative;

  }
  .arrow-up{
    position: absolute;
    top: -3rem;
    width: 100%;
    height: 3rem;
    display: none;
    left: 0;
  }
  .arrowActive{
    display:block;
    background-color: gray;
  }
  .menu-container{
    margin-top: 3rem;
  }
  #one-item-0, #one-item-1, #one-item-2, #one-item-3{
  background-size: cover;
  }

}
