.slide-layout-title, .slide-layout-image, .slide-image, .menu-container, .page-title, .menu-signature-image, .arrow-down-container, .size-box, .size-image, .size-price{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu-cover-up{
  height:9.9rem;
}

.page-title {
  width: 100%;
  height: 4rem;
}

.menu-title{
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing:0.2rem;
  left: 0;
  right: 0;
  margin-top: 0.5rem;
}

.menu-signature-container {
  width: 100%;
  height: 18rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.menu-signature-box {
  width: 150%;
  height: 100%;
  position: relative;
}

.signature-title {
  position: relative;
  text-align: center;
  font-size: 1rem;
  bottom: -1rem;
  font-family: 'Oswald', sans-serif;
  font-weight:300;
}
.title-1{
  font-weight:400;
  font-size: 1.8rem;
}

.items-containers {
  width: 100%;
  position: relative;
  top: 8rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-signature {
  height: 8.5rem;
  width: 7rem;
}

.menu-signature-image {
  width: 100%;
  height: 7rem;
  cursor: pointer;
}

.menu-signature-title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  margin-top: 1rem;

}


.arrow-down {
  position: relative;
  top: 0.5rem;
  height: 3rem;
  width: 3rem;
  z-index: 10;
  display: none;
}

.menu-signature-one-container {
  position: relative;
  width: 100%;
  height: 12rem;
  top: -1.1rem;
}

.arrowActive {
  display: block;
}

.arrow-down-t {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;

  border-top: 1.2rem solid white;
}


.menu-signature-one-items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.oneActive {
  display: block;
}

.slide-layout1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Title Image";
  width: 100%;
  height: 100%;

  background-size: cover;
}

.slide-layout2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Image Title";
  width: 100%;
  height: 100%;
  background-size: cover;
}

#one-item-0{
  background-image: url('/images/menu/s1Mobile.jpg');
  background-size: cover;
  background-position: center;
}
#one-item-1{
  background-image: url('/images/menu/s2Mobile.jpeg');
  background-size: cover;
  background-position: center;
}
#one-item-2{
  background-image: url('/images/menu/s3Mobile.jpg');
  background-size: cover;
  background-position: center;
}

#one-item-3{
  background-image: url('/images/menu/s4Mobile.jpg');
  background-size: cover;
  background-position: center;
}

.slide-layout-title {
  grid-area: Title;
}

.slide-layout-image {
  grid-area: Image;
}

.title-box {
  width: 10rem;
  height: 7rem;
}

.slide-title {
  font-size: 1.3rem;
}

.slide-desc {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.slide-image {
  width: 9rem;
  height: 9rem;
}

.menu-container {
  width: 100%;
  height: 155rem;
}

.menu-box {
  width: 95%;
  height: 150rem;
}



.menu-box-step {
  font-size: 1.6rem;
  text-align: center;
  margin: 4rem 0;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1rem;
}

.menu-box-title {
  font-size: 1.3rem;
  text-align: center;
}

.menu-box-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Kid Small" "Medium Large";
  width: 100%;
  height: 30rem;
}

.size-item {
  width: 10rem;
  height: 15rem;
  position: relative;
}

.size-image {
  width: 10rem;
  height: 10rem;
}

.size-price {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.menu-box-base-container, .menu-box-salad-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "White Brown" "Salad";
  width: 100%;
  height: 2rem;
}

.base, .protein, .mix, .sauce, .salad, .toppings ,.protein-l, .mix-l, .sauce, .sauce-l, .toppings-l{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem
}

.menu-box-protein-container, .menu-box-mix-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "Salmon Tuna" "Spicy Shrimp" "Scallop Octopus" "Chicken Yellowtail";
  width: 100%;
  height: 10rem;
}

.menu-box-sauce-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Salmon Tuna" "Spicy Shrimp" "Scallop Octopus" "Chicken Yellowtail";
  width: 100%;
  height: 10.5rem;
}

.menu-box-toppings-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 17.5rem;
}

.protein , .protein-l, .mix, .mix-l, .sauce, .sauce-l{
  height: 2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.protein, .mix, .sauce, .toppings{
  justify-content:flex-start;
  padding-left: 1.3rem;
}
.protein-l, .mix-l, .sauce-l, .toppings-l{
  padding-right: 1.3rem;
  justify-content:flex-end;
}
.sauce-l div, .sauce div{
  width: 100%;
}
.sauce-l, .sauce{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}
.sauce-l, .toppings-l{
  text-align: right;
}
.sauce, .toppings{
  text-align: left;
}
.extra{
  font-size: 0.8rem;
}
.menu-order-deliver{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-order-deliver-btn{
  width: 15rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ACBA9A;
  color: white;
  cursor: pointer;
}

.menu-order-deliver-btn:hover{
  color: black;


}

.base, .protein, .size-price, .mix, .sauce, .salad, .toppings, .menu-order-deliver-btn, .menu-start, .toppings-l{
  font-family: 'Oswald', sans-serif;
  font-weight:300;
}
.size-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight:400;
  font-size: 1.2rem;

}
.menu-start {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight:400;
}
.size-desc{
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.size-text{
  position: absolute;
  width: 100%;
  bottom: 1.2rem;
}
.size-text-2{
  position: absolute;
  width: 100%;
  bottom: 0rem;
}
.mix-l{

}
#arrow-left-menu{
  position: absolute;

  top:2rem;
  left: 49vw;
  display: none;
  width: 2rem;
  cursor: pointer;
}
#arrow-right-menu{
  position: absolute;

  top:2rem;
  right: 49vw;
  width: 2rem;
  cursor: pointer;
}
.mobileOnly{
  display: grid;
}
.mobileOnly-block{
  display: block;
}
.desktopOnly-menu{
  display: none;
}
.desktopOnly-menu-block{
  display: none;
}

@media (min-width: 700px) {
  .page-title {
    display: none;
  }
  .menu-signature-container{
    display: none;
  }
  .menu-signature-one-container{
    top:-0.5rem;
    height: 30rem;
  }
  #menu-cover-up{
    height:29.5rem;
  }
  .signature-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 70%;
    height: 5rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    margin: auto;
  }
  .signature-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    cursor: pointer;

  }
  .arrow-up{
    position: absolute;
    top: -3rem;
    width: 100%;
    height: 3rem;
    display: none;
    left: 0;

  }
  .arrowActive{
    display:block;
  }
  .menu-container{
    margin-top: 3rem;
    height: 115rem;
  }
  #one-item-0, #one-item-1, #one-item-2, #one-item-3{
  background-size: cover;
  }
  #one-item-0{
    background-image: url('/images/menu/s1Desk.jpg');
    background-position: center;

  }
  #one-item-1{
    background-image: url('/images/menu/s2Desk.jpg');

  }
  #one-item-2{
    background-image: url('/images/menu/s3Desk.jpg');

  }

  #one-item-3{
    background-image: url('/images/menu/s4Desk.jpg');

  }
  .signature-titles{
    position: relative;
    text-align: center;
    font-size: 1rem;
    bottom: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight:400;
  }
  .arrow-up-2 {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;

  border-bottom: 3rem solid white;

  margin: auto;

  }
  .menu-box-base-container, .menu-box-salad-container {
    margin: auto;
    width: 30%;
  }
  .menu-box-protein-container, .menu-box-mix-container {
    height: 14rem;
  }
  .protein-l, .mix-l, .sauce-l, .toppings-l{
    justify-content:flex-start;
    height:2rem;
    margin-left: 0rem;
    text-align: left;

  }
  .protein, .mix, .sauce, .toppings{
    height:100%;
  }
  .menu-box{
    height: 110rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 8fr 1fr;
    grid-template-areas:
    "start start"
    "step1 step1"
    "base1 base1"
    "col1  col2"
    "order order";
    width: 70%;
  }
  .menu-start{
    grid-area:start;
    margin-top: auto;
  }
  .step1{
    grid-area:step1;
  }
  .step2{
    grid-area:step2;
  }
  .step3{
    grid-area:step3;
  }
  .step4{
    grid-area:step4;
  }
  .step5{
    grid-area:step5;
  }
  .step6{
    grid-area:step6;
  }
  .step7{
    grid-area:step7;
  }

  .base1{
    grid-area:base1;
  }
  .base2{
    grid-area:base2;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .base3{
    grid-area:base3;
  }
  .base4{
    grid-area:base4;
  }
  .base5{
    grid-area:base5;
    height: 13.5rem;
  }
  .base6{
    grid-area:base6;
      display: block;
      margin-top: 0;
      margin-bottom: 0;
  }
  .base7{
    grid-area:base7;
  }

  .menu-box-image-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 15rem;

  }
  .size-text{
    bottom:0rem;
  }
  .base2-item{
    margin: 0;
    justify-content: flex-start;
    margin-left: 0rem;

  }
  .base2-item-first{
    margin-top: 0.5rem;

  }
  .base6-item{
    margin: 0;

    text-align: left;
    justify-content: flex-start;
  }
  .menu-order-deliver{
    grid-area:order;
  }
  .mobileOnly, .mobileOnly-block{
    display: none;
  }
  .desktopOnly-menu{
    display: grid;
  margin-top: 0;
  }
  .desktopOnly-menu-block{
    display: block;
  height: auto;
    width:15rem;
    position: relative;
    text-align: left;

  }
  .menu-start-desk{
    grid-area:start;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight:400;
  }
  .desktopOnly-menu-col{
    display: flex;
    flex-direction: column;

    align-items: center;


  }
  .sauce-l{
    height: 2rem;
  }
  .sauce-l div{
    position:relative;
  }
  .sauce-l div .extra{
    position: absolute;
    top:0.4rem;
    left: 7rem;
  }
  #orderOnline-btn:hover{
    color: black;
  }
  .menu-box-step span{
    color:#ACBA9A;
  }

}
